.logo {
    background: #d8d8d8;
    width: 265px;
    padding: 21px;
}
.logo h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2d2c2b;
    padding: 10px 26px;
}
.logo li {
    list-style: none;
    padding: 16px 0px;
}
.model {
    background: #ababab;
    width: 265px;
    padding: 21px;
    padding-bottom:170px;
}
.model h3 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a0a0a0;
}
.logo li a {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #687077;
    text-decoration: none;
}
.innerselect {
    width: 200px;
    height: 30px;
}
.model h4 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a0a0a0;
}
span.selectcolors {
    width: 28px;
    height: 28px;
    background-color: #d8d8d8;
    padding: 6px 13px;
    border-radius: 20px;
    margin: 5px;
}
span.selectcolors2 {
    width: 28px;
    height: 28px;
    background-color: #2c2c2c;
    border: solid 1px #2c2c2c;
    padding: 5px 12px;
    border-radius: 20px;
  
     margin: 5px;
}

span.selectcolors3 {
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border: solid 1px #979797;
    padding: 5px 12px;
    border-radius: 20px;
 
     margin: 5px;
}
button.savebtn.btn.btn-default {
    float: right;
    border-radius: 20px;
    padding: 1px 20px;
}