@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.no-padding{
    padding: 0px;
}
.imageAll{
    width: 100%;
    height: 100%;
}
.light-footer-main{
    /* margin-top: 100px; */
    border-top:  2px solid rgba(192,192,192,.5);
    padding: 50px 30px;
}
.footer-imageOut{
    width: 160px !important;
    height: 35px;
}
.alineCenter{
    display: flex;
    justify-content: center;
}
.footer-logo{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 15px;
    color: #929292;
}
.footer-text p{
    font-size: 16px;
    color: #c0c0c0;
}
.footer-text-last p{ 
    font-size: 14px;
    color: #434243;
    opacity: 0.7;
}
.footerContact{
    display: flex;
    justify-content: center;
}
@media(max-width: 769px){
    .footer-imageOut{
        margin-bottom: 20px;
    }
    .footerContact{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

@media(max-width: 640px){
    .footer-imageOut{
        margin-bottom: 20px;
    }
    .footer-logo-right{
        font-family: 'Noto Sans KR', sans-serif;   
        font-size: 13px;
        color: #929292;
        text-align: center;
    }
}
@media(max-width: 579px){
    .footer-text p{
        margin-bottom: 15px !important
    }
    .alineCenter{
        text-align: center;
    }
    .footerContact{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 800px){
    .footer-out .col-md-3 {
        margin-bottom: 30px;
    }
}