.nopadding{
    padding: 0 !important
}

.cartItemMain{
    display: flex;
    justify-content: center;
    align-items: center
}
.cartItemText{
    margin: 5px;
}
.cartItemText p{
    font-size: 14px;
    color: #687077;
    font-family: 'Noto Sans KR', sans-serif;
}
.iconCross{
    font-weight: 100;
    cursor: pointer;
}
.cartBorder{
    border: 1px solid #d8d8d8
}
.cartItemPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px
}
.cartItemPrice p{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #687077;
    margin: 0;
}
.buttonMain.btn.btn-secondary.btn-block{
    width: 195px;
    height: 32px;
    border-radius: 25px;
    background-color: #78c8d7;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;   
}
.buttonCart.btn.btn-secondary.btn-block{
    width: 195px;
    height: 32px;
    border-radius: 25px;
    color: #78c8d7;
    border-color: #78c8d7;
    background-color: transparent;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;   
}
.total-back{
    width: 100%;
    height: 394px;
    margin: 42px 0px;
    background-color: #e9e9e9;
    padding: 20px;
}
.checkout-back{
    width: 100%;
    height: auto;
    margin: 42px 0px;
    background-color: #e9e9e9;
    padding: 20px;
}
.total-heading-out p{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #585858;
}
.total-text p{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    font-weight: 500;
    color: #687077;
    margin-top: 15px;
}
.total-text h6{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 16px;
    font-weight: bold;
    color: #687077;
    margin-top: 15px;
}
.flex-end{
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
}
.deliveryDate{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    color: #687077;
}
.checkoutBtn.btn.btn-secondary{
    height: 50px;
    width: 100%;
    border-radius: 25px;
    background-color: #78c8d7;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #ffffff;
}
.continueBtn.btn.btn-secondary{
    height: 50px;
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
    background: transparent;
    color: #2d2c2b;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;   
}
.alineCenterBtn{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.coupon-cart{
    display: flex;
    flex-direction: row;
    width: 289px;
    height: 42px;
    background-color: #ffffff;
    align-items: center;
    margin-top: 20px;
}
.AddCouponBtn.form-control {
    font-size: 16px;
    color: #585858;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif; 
    border: none;
}
.ApplyeBtn{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #585858;
    font-family: 'Noto Sans KR', sans-serif;   
}
.checkout-text p{
    opacity: 0.5;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    font-weight: 500;
    color: #687077;
    margin-top: 15px;
}
.title-text p{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    color: #687077;
    margin: 0px;
}
.title-text label{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    font-weight: bold;
    color: #687077;
}
.label-text p{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    font-weight: bold;
    color: #687077;
    opacity: 0.5;
    margin: 0 !important;
} 

.label-text label{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    font-weight: bold;
    color: #687077;
    margin: 0 !important;
} 
.checkoutline{
    border: 0.5px solid #979797;
    width: 100%;
    margin: 10px 0px;
}
.totalPrice{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 20px !important;
    font-weight: bold !important;
    color: #687077 !important;
}
.checkout-flex-start{
    align-items: center !important;
    display: flex !important;
}
.alineitemcenter{
    align-items: center;
}

.edit-order label{  
    font-size: 14px;
    font-weight: 500;
    color: #687077;
    cursor: pointer;
    margin-top: 0xp 15px;
}
.card-box{
    margin-top: 15px;
    width: 100%;
    height: 162px;
    border-radius: 7px;
    background-color: #ffffff;
    padding: 20px;
}
.card-box input{
    height: 30px;
}
.card-box label{
    font-size: 14px;
    font-weight: 400;
    color: #565a5d;
    font-family: 'Noto Sans KR', sans-serif;   
    margin: 0xp 0px !important;
}
label.card-text-checkout{
    margin-top: 10px !important;
}
.dateCheckOut{
    display: flex;
    flex-direction: row;

}
.dateCheckOut input{
    width: 42px;
    height: 30px;
    background-color: #ffffff; 
}
.dateCheckOut p{
    margin: 0px 9px;
    font-size: 18px;
}
.mt10{
    margin-top: 10px;
}
.checkBox.form-check-input{
    position: relative;
    margin-right: 10px;
    margin-top: 6px;
    font-size: 10px;
}
.cartCenter{
    display: flex;
    align-items: center;
}
.smallLoader {
    height: 70px !important;
    width: 100%;
    background: #8a8a8ab5 !important;
    justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.31);
	z-index: 999999; 
    display: flex;
    position: absolute;
}
.notActive{
    display: none;
}
.cartHeight{
    max-height: 450px;
    overflow: none;
}
.cartCon{
    padding: 20px;
    max-height: 230px;
    overflow: scroll;
}
.cartButtonsFixed{
    max-height: 150px;
    padding-bottom: 15px;
}
.emptytext{
    text-align: center;
    font-size: 16px;
}
.emptytext p{
    color: #eaeaea;
}

@media(max-width: 850px){ 
    .checkoutBtn.btn.btn-secondary{
        font-size: 11px;
    }
    .continueBtn.btn.btn-secondary{
        font-size: 11px;
    }
    .AddCouponBtn.form-control {
        font-size: 10px;
    }
    .ApplyeBtn{
        font-size: 12px;
    }
}
@media(max-width: 767px){ 
    .ApplyeBtn{
        font-size: 15px;
    }
    .AddCouponBtn.form-control {
        font-size: 15px;
    }
    .checkoutBtn.btn.btn-secondary{
        font-size: 14px;
    }
    .continueBtn.btn.btn-secondary{
        font-size: 14px;
    }
}