
@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');
.heading-out{
    text-align: center;
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #585858;
    font-family: 'Noto Sans KR', sans-serif;   
}
.contactus-block-main{
    margin-top: 24px
}
.contactus-block-content{
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
.contactus-block-content-last{
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
.conatctus-link-text{
    margin-left: 27px;
    color: #687077 !important;    
}
.contactus-icon-out{
    float: left;
    color: #585858 !important;    
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid;
    border-radius: 100%;
    line-height: 55px;
}
.contactus-icon{
    font-size: 20px;
}
.contactus-block-text{
    padding: 10px 30px;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #687077 !important;    
    width: calc(100% - 50px);
    float: left;
    line-height: 25px
}
.contcatus-textbox.form-control{
    height: 40px;
    border: solid 1px #dedede;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #585858;
    padding-left: 15px;
}
.contactus-input-message.form-control{
    padding: 15px;
    height: 170px;
    border: solid 1px #dedede;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 13px;
    color: #585858;
    margin-top: 10px
}
.contactus-block-input{
    margin-top: 30px;
}
.contactus-button.btn-secondary{
    margin-top: 20px;
    height: 50px;
    width: 156px;
    font-size: 16px;
    color: #fff;
    border-radius: 25px;
    background-color: #78c8d7;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    font-weight: 400;
    border-width: 0;
}
.contactus-image-map{
    object-fit: contain;
    mix-blend-mode: luminosity;
    width: 100%;
    margin-top: 10px;
}
.no-padding{
    padding: 0;
}
.reduceSpacing{
    margin-left: -10px;
    margin-right: -10px;
}
.reduceSpacing > div{
    padding: 0 10px
}
.formBtn.btn-secondary{
    background-color: red
}
.contactus-alert{
    margin-top: 30px;
    font-size: 12px;
}