@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.nopadding{
    padding: 0 !important;
}
.MainCon{
    margin-top: 15px;
    margin-bottom: 30px; 
}
.mgb{
    margin-bottom: 20px;
}
.rightBorder{
    border-right: 1px solid #cecece;
    width: 15%;
}
.externalBtn{
    background-color: transparent;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #687077;
    font-family: 'Noto Sans KR', sans-serif;   
    cursor: pointer;
    margin: 20px;
}
.internalBtn{
    font-size: 14px; 
    color: #687077;
    font-family: 'Noto Sans KR', sans-serif;   
    opacity: 0.5;
}
.admintabMenuClose.list-group-item{
    border: none !important;
    padding-left: 45px;
}
.adminTabMenu.list-group-item{
    background-color: #eeeeee;
    padding-left: 45px;
    border: none !important;
}
.internalBtn p{
    font-family: 'Noto Sans KR', sans-serif;   
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #687077;
    opacity: 0.5;
    cursor: pointer;
}
.admin-drop-text{
    border-bottom: 1px solid #cecece;
    /* padding: 20px; */
    width: auto;
}
.toggelbtncross.btn.btn-outline-secondary{
    display: flex;
}
.admin-btn-toggle{
    margin: 5px 10px;
}
.adminTabMenu{
    height: 34px;
    background-color: #eeeeee;  
}
.arrowIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.arrowIcon i{
   text-align: right;
   font-size: 20px;
}
.iconArrow{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 30px;
}
@media(max-width: 767px){ 
    .admin-display-none.activeMenu.nopadding.rightBorder{
        width: 40% !important;
        left: 0;
    }
    .admin-display-none {
        position: absolute;
        z-index: 10;
        background: rgb(255, 255, 255);
        box-shadow: 10px 2px 10px 0px #C9C9C9;
        left: -320px;
        padding: 0 15px;
        transition: all linear 0.2s 0s;
    }
    .textalinecenter{
        text-align: center;
    }
    .materialBack{
        height: 80px !important;
    }
}


/* =================================================== */

.modelHeading p{
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #afafaf;  
}
.headingMain{
    margin-bottom: 15px;
}
.headingMain p{
    font-size: 24px;
    font-weight: bold;
    color: #585858;
}
.flexEnd{
    text-align: end;
}
.headingBtn.btn.btn-secondary{
    width: 156px;
    height: 36px;
    border-radius: 25px;
    background-color: #adadad;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;       
    color: #ffffff;
    border: none;
}
.labelNameMobile{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;       
    color: #a0a0a0;
    font-weight: normal;
}
.manage-dropdown.form-control{
    height: 42px;
    background-color: #ffffff;
    font-size: 14px;
}

.model-img-out{
    display: flex;
    flex-wrap: wrap;
}
.active{
  opacity: 0.5
}
.model-img-title{
    font-family: 'Noto Sans KR', sans-serif;   
    color: #747474;
    font-weight: 200;
    margin-top: 2px;
}
.mobileConHeight{
    overflow: scroll;
}
.modelCon{
    margin: 0 !important;
    height: 600px;
    width: 100%;
}
.mobileList-manage{
    margin-top: 40px;
    padding: 0 !important;
}
@media(max-width: 575px){ 
    .model-img-title{
       text-align: center;
    }
    .flexEnd{
        text-align: start;
    }
}


/* =========================================================== */


.saveBtnCase.btn.btn-secondary{
    width: 100%;
    margin-bottom: 20px;
    height: 36px;
    border-radius: 25px;
    background-color: #adadad;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;   

}
.deleteCase.btn.btn-secondary{

    font-family: 'Noto Sans KR', sans-serif;   
    width: 100%;
    border: none;
    margin-bottom: 20px;
    height: 36px;
    border-radius: 25px;
    background-color: #717171;
    font-size: 14px;
    color: #ffffff;
}
.phonePosition{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phonePositionOut{
    display: flex;
    flex-direction: column;
}
.phonePositionOut button{
    margin-top: 20px;

}
.addCaseImgout{
    background-color: #f7f7f7;
    padding: 20px;  
}
.editCaseImgout{
    width: 151px;
    height: 219px;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.materialData{
    padding: 10px;
}
.materialBack{
    background-color: #e7e7e7;
    justify-content: center;
    align-items: center;
    height: 66px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.materialBack p{
    height: 20px;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #687077;
}

.materialBack button{
    height: 27px;
    border-radius: 25px;
    background-color: #717171;
    width: 100%;
    font-size: 13px;
    color: #ffffff;
}
.colagePicture{
    width: 100%;
    height: 100%;
}
.collageImg{
    width: 116px;
    height: 147px;
    background-color: #f6f6f6;
    padding: 30px;
    margin-left: 8px;
    margin-top: 30px;
}
.clipImg{
    width: 100px;
    height: 100px;
    background-color: #f6f6f6;
    padding: 15px;
    margin-left: 8px;
    margin-top: 30px;
}
.collageFlexWrap{
    display: flex;
    flex-wrap: wrap;
}


/* ========================== */

.model-image{
    width: 100%;
    height: 100%;
}
.model-image-out{
    /* background-color: #f9f9f9; */
    text-align:center;
    height: 260px;
    width: 180px;
    margin-bottom: 60px;
    position: relative;
}
input.fileInput{
    /* display: none !important; */
    height: 100%;
    width: 100%;
}
.addNewCaseImageOut{
    width: 200px;
    height: 350px;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="file"] {
    display: none;
}
.uploadCase{
    color: #687077;
    font-size: 14px;
}
.editCase{
    color: #687077;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.imagePreview {
    width: 200px;
    height: 350px;
}
.imageFix{
    height: 100%;
    width: 100%;
}
.addCaseHasError{
    color: red;
}
.imageTextBtnOut{
    position: relative;
}
.imageTextBtn.btn.btn-secondary{
    width: 110px;
    height: 27px;
    border-radius: 25px;
    background-color: #717171;
    font-size: 12px;
}
.imageTextBtnEdit.btn.btn-secondary{
    width: 110px;
    height: 27px;
    border-radius: 25px;
    background-color: #adadad;
    font-size: 12px;
    margin-bottom: 30px;    
    border: none;
}
.opac-image{
    opacity: 0.5;
}
.imageTextBtnOut{
    position: relative;
}
.displayBlock{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.displayNone{
    display: none;
}

.editCase p{
    top: 50%;
    text-align: center;
    position: absolute;
}
.css-10nd86i.menu-dropdown .css-vj8t7z{
    text-align: left;
    height: 40px;
    border-color: #dedede;
    background-color: #fff;
    color: #ced4da;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 300 !important;
}
.css-10nd86i.menu-dropdown{
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
    height: 40px;
    border-color: #dedede;
    background-color: #fff;
    color: #434343;
    font-weight: 300 !important;
}               
.tableMain{
    margin: 20px 0px;
    height: 500px;
    overflow: scroll;
}
.tableHeading{
}
.tableBody{
}
.tableHeading th{
    padding: 20px;
    font-size: 13px;
}
.tableHeading td{
    padding: 20px;
    font-size: 13px;
}
.iconDownloadOut{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconDownloadSize{
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
}