@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.nopadding{
    padding: 0
}
.aligncenter{
    align-items: center;
}
.displayflex{
    display: flow-root;
}
.cart-heading-out{
    text-align: left;
    margin:  24px 0;
}
.cart-heading-out p{
    color: #585858;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 24px;
    font-weight: bold;
}
.cart-row-heading{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    font-weight: bold;
    color: #687077;
}
.cart-case-textbox.form-control{
    width: 79px;
    height: 42px;
    font-size: 14px;
}
.cart-row-data{
    margin-top: 25px;
    align-items: center;
}
.cart-device-name p{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    color: #687077;
}
.cart-price-total p{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    font-weight: bold;
    color: #687077;
}
.cart-price p{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    color: #687077;
}   
.barLine{
   border: 1px solid #ebebeb    ;
   width: 100%;
}
.icon-cross{
    width: 28px;
    height: 28px;
    background-color: #ebebeb;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-cross.icon{
    background-color: #979797;
    font-size: 10px;
}
.inputStyle input{
    height: 42px;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    color: #585858;
    padding-left: 15px;
}
.check-heading-out{
    margin-top: 40px;
    margin-bottom: 10px;
}
.check-heading-out p{
    font-size: 20px;
    font-weight: bold;
    color: #585858;
    font-family: 'Noto Sans KR', sans-serif;
}
.check-checkbox.form-control{
    height: 42px;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    color: #585858;
}

.inputStyle label{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #a0a0a0;
    font-weight: 500;
}
.orderCheckout.form-control{
    height: 71px;
}
.checkBox.form-check-input{
    position: relative;
    margin-right: 10px;
    margin-top: 6px;
    font-size: 10px;
    height: auto;
}
.addressSection{
    display: none;
}
.activeAddressSection{
    display: block !important;
}
/* .marginbtm{
    margin-bottom: 10px;
} */
.cart-order-list-padding-address{
    padding: 20px 20px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
.cart_address_section {
    background: #f8f7f7;
    padding: 15px 25px;
    margin: 20px 30px;
}
.cart_address_section ul {
    padding: 0px;
    margin-top: 20px;
}
.cart_address_section li {
    list-style: none;
    padding: 4px 7px
}
.cart_address_section h3 {
    font-size: 16px;
    font-weight: bold;
    color: #687077;
    margin-left: 5px;
}
.cart-user-address-data li{
    display: flex;
    justify-content: flex-start;
}
.cart-user-address-data p{
    color: #525353; 
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
.cart-user-address-data span{
    color: #687077;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 150px;
}
.selectedAddress{
 background-color:  #e9e9e9 !important;
}
.onEditCursor{
    cursor: pointer;
}
.cartCheckBox{
    display: flex !important;
    flex-direction: row !important;
}
.cartCheckBox input{
    height: 10px;
    position: relative;
    margin-right: 5px;
    margin-top:5px;
}
.title-text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
}
.deliveryDate{
    margin-top: 5px
}

@media(max-width: 390px){ 
    .noPaddingImage{
        padding: 0px !important
    }
}
@media(max-width: 800px){ 
    .widthCartTotal{
        width:100%;
    }
}
