.modalOpen{
    padding: 35px;
    text-align: center;
}
.modalOpen h1{
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;  
    color: #585858;
    margin-top: 20px;
}
.imageAll{
    height: 100%;
    width: 100%;
}
.imagedownload{
    width: 58px;
    height: 53px;
    object-fit: contain;
}
.imageupload{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imageupload p{
    font-size: 18px !important;
    color: #434243;
    padding: 5px;
}
.img-extensions{
    color: #c4c9cb;
    font-size: 14px;
}
.imageEditorTextDownload{
    font-size: 16px;
    text-decoration: underline;
    color: #78c8d7;
}
.displayFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalOpen button{
    width: 248px;
    height: 50px;
    border-radius: 25px;
    background-color: #78c8d7;
    margin-top: 50px;
    border: none;
    font-size: 18px;
}
.name.form-control{
    width: 248px;
    height: 42px;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 50px;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    border: solid 1px #c4c9cb;
}
.IconInput{
    display: flex;
    flex-direction: column;
}
.modelMaterialInline{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.modelMaterialInline p{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.menu-dropdown-editor.form-control{
    width: 100%;
    font-size: 14px;
    height: 32px;
    border-radius: 3px;
    background-color: #ffffff;
}
.noPadding{
    padding: 0;
}
.btnDropMaterial.dropdown-menu.show{
    height: auto !important;
}
.EditorColor{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 40px;
}
.EditorColorScroll{
    overflow: scroll;
}
.colorOutTickEditor{
    position: absolute;
    z-index: 999;
    left: 10%;
    top: 0;
    font-size: 10px;
    font-weight: 200;
}
.priceTextEditor{
    color: #ffffff;
    font-size: 18px;
    margin-top: 8px;
}
.pricetabEditor{
    margin-top: 15px
}
.editorPriceInline{
    display: flex;
    flex-direction: row;
}
.alineEndEditor{
    display: flex;
    justify-content: flex-end;
}
.savebtnEditor.btn.btn-secondary{
    height: 40px !important;
    border-radius: 35px !important;
    background-color: #78c8d7 !important;
    color: #ffffff !important;
    width: 130px !important;
    border: none;
}
.DropDownMainEditor.btn.btn-secondary{
    height: 32px !important;
}

@media (max-width:911px) {
    .priceTextEditor{
        color: #ffffff;
        font-size: 14px;
        margin-top: 8px;
    }
}

