@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.no-padding{
    padding: 0
}
.stock_main{
    padding: 0px 90px;
}
.overflowHidden{
    overflow: hidden;
}
.stock-heading{ 
    padding: 24px 16px;
    padding-bottom: 10px;
}
.stock-heading-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 30px;
}
.stock-heading-left h1{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 24px;
    font-weight: bold;
    color: #585858;
}
.stock-heading-left span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #78c8d7;
    margin-left: 10px
}
.stock-heading-icon-out{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}
.stock-heading-icon{
    width: 17px;
    height: 17px;
    object-fit: contain;
}
.stock-heading-out{
    position: relative;
    /* margin-top: 40px !important; */
    margin-right: 80px !important;
    margin-left: 10px !important;
}
.stock-heading-right {
    position: absolute;
    right: 0;
}
.stock-heading-right p{
    float: right;
    display: block;
    font-size: 14px !important;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #ababab;
    cursor: pointer;
    padding: 2px;
   
}
.stock-data{
    display: flex;
    flex-wrap: wrap;
}
.stock-img-title{
    font-family: 'Noto Sans KR', sans-serif;   
    color: #8c8c8c;
    font-weight: 200;
    margin-top: 2px;
}
.mobileCon{
    margin: 0 !important;
}
.mobileCon > div{
    padding: 0 5px;
}
.stock-flex-row{
    display: flex;
    margin: 10px 0px 10px 50px;
}
.stock-btn-toggle{
    /* margin-right: 20px; */
   width: 20px;
}
.toggleButton.btn.btn-outline-secondary{
    width: 10px;
}
.colorBlue{
    color: #78c8d7 !important;
    text-decoration: underline;
}
@media(max-width: 1180px){ 
    .stock_main{
        padding: 0px 10px;
    }
    .stock-heading-left{
        padding: 0px 25px;
    }
}
@media(max-width: 996px){ 
    .stock-heading-left{
        padding: 0px 15px;
    }
}

@media(max-width: 480px){ 
    .stock-heading-out{
        position: relative;
        /* margin-top: 40px !important; */
        margin-right: 10px !important;
        margin-left: 0px !important;
    }
    .stock-flex-row{
        margin: 10px 0px 10px 40px;
    }v
    .stock-heading-left h1{
        font-size: 18px;
    }
    .stock-heading-left span{
        font-size: 12px;
    }
    .stock-heading-right p{
        font-size: 11px;
    }
}
@media(max-width: 767px){ 
    .stock-heading-left{
        padding: 0px 10px;
    }
    .stock_main{
        padding: 0px 20px;
    }
    .stock-checkbox{
        display: initial;
    }
    .stock-display-none {
        width: 280px;
        position: absolute;
        z-index: 10;
        background: rgb(255, 255, 255);
        /* border: 1px solid #a7a6a6; 
        border-left: 0px;
        border-top: 0px; */
        box-shadow: 10px 2px 10px 0px #C9C9C9;
        left: -320px;
        padding: 0 15px;
        transition: all linear 0.2s 0s;
    }
    .mobileCon{
        margin-top: 10px !important;
    }
    .activeMenu{
        left: 0;
    }
    .stock-heading-left{
        margin-left: 20px;
    }
}
.stock-checkbox{
    display: block;
}
.stock-container-check {
    display: block;
}
.bar1, .bar2, .bar3 {
    width: 18px;
    height: 3px;
    background-color: #585858;
    margin: 3px 0;
    transition: 0.4s;
}
.toggleButton{
    padding: 2px 5px !important;
}
.fa-close{
    font-size: 20px;
    font-weight: 300;
    color: #585858;
}


/* case css         =========================== */

@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.no-padding{
    padding: 0;
}
.selectedCaseCon{
    padding: 0px 15px;
}
.case-text-center{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.case-pic{
    text-align: center;
    width: 320px;
    height: 350px;
    border-radius: 2px;
    background-color: #f0f3f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case-pic-out{
    height: 330px !important;
    width: 220px !important;
    padding: 20px !important;
}
.case-image{
    height: 100%;
    width: 100%;
}
.case-container{
    margin-bottom: 20px;
}
.case-title{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.case-phone-name{
    font-family: 'Noto Sans KR', sans-serif;   
    color: #c4c9cb;
    font-size: 16px;
    margin-left: 40px;
}
.case-heading{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 42px;
    font-weight: bold;
    color: #585858;
    margin: 0;
}
.case-price{
    color: #78c8d7;
    font-size: 24px;
}
.case-margin-top label{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    color: #ababab;
}
.case-select-model{
    display: flex;
}
.case-select-model p{
    color: #a0a0a0;
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
}
.case-select-inner{
    width: 100%;
    margin-right: 20px;
}
.case-dropdown.form-control {
    text-align: left;
    height: 40px;
    width: 100%;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #585858;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 300 !important;
}
.case-form-btn{
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
}
.case-form-btn button{
    width: 156px;
    height: 40px; 
    border-radius: 25px;
    background-color: #78c8d7;
    border: 0px;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;   
}
.case-form-btn button:hover{
    background-color: #78c8d7;
}
.case-mobile-component{
    margin-top: 30px;
    margin-bottom: 30px;
}
.case-button-top{
    margin-bottom: 20px;
    height: 41px;
    width: 100%;
}
.case-btn-flex{
    display: flex;
    width: 100%;
}
.case-button-top button{
    width: 100%;
    height: 100%;
    border-radius: 20.5px;
    background-color: #d8d8d8;
    border: 0px;
    font-size: 14px;
    color: #2d2c2b;
    opacity: 0.7;
    font-family: 'Noto Sans KR', sans-serif;   
}
.bar1, .bar2, .bar3 {
    width: 18px;
    height: 3px;
    background-color: #585858;
    margin: 3px 0;
    transition: 0.4s;
}
.toggleButton{
    padding: 2px 5px !important;
}
.case-btn-toggle{
    margin-top: 5px;
}

@media(max-width: 767px){ 
    .case-pic{
        max-width: 230px;
    }
    .case-display-none {
        width: 300px;
        position: absolute;
        z-index: 10;
        background: rgb(255, 255, 255);
        /* border: 1px solid #a7a6a6; 
        border-left: 0px;
        border-top: 0px; */
        box-shadow: 10px 2px 10px 0px #C9C9C9;
        left: -320px;
        padding: 0 15px;
        transition: all linear 0.2s 0s;
    }
    .activeMenu{
        left: 0;
    }
    .case-form-btn{
        position: relative;
        margin-top: 30px;
    }
    .case-button-top button{
        max-width: 150px;
    }
    .case-button-top{
        margin-left: 20px;
    }
}
@media(max-width: 575px){ 
    .case-margin-top{
        margin-top: 20px;
    }
    .case-pic{
        text-align: center;
        max-width: 230px;
        margin: 20px;
    }
}
@media(max-width: 460px){ 
.case-form-btn{
    margin-top: 20px !important;
    }
}
.case-pic{
    margin: 20px;
}
.case-margin-top{
    margin: 30px;
}

