.modal.fade {
    opacity: 1 !important;
}
.btn {
    font-size: 30px;
    
}
.modalbody{
    font-size:20px;
    
}
.signup{
    text-align: center;
    font-size: 20px;

}
.email{
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    padding: 20px;
    border: none;
    font-size: 16px;

}
.signup-modal-container{
    padding: 51px 94px;
    text-align: center
}
.signup-modal-title{
    text-align: center;
    font-size: 24px;
    padding-bottom: 26px
}
.signup-modal-title span{
  width: 91px;
  height: 36px;
  font-family: NotoSansKR;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #585858;
}

.signup-modal-content{

}
.signup-modal-content .form-group{
    padding-bottom: 10px
}

.signup-modal-content .form-group input{
    height: 42px;
    background-color: #ffffff;
    border: solid 1px #dedede;
    font-size: 14px;
    padding: 15px;
}

.signup-modal-content button{
  height: 50px;
  border-radius: 25px;
  background-color: #adadad;
}

.signup-lower-link{
    text-align: center;
}

.signup-lower-link button{
    padding-top: 26px;
    height: 24px;
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #687077;
}
