@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.noPadding{
    padding: 0px !important;
}
.bgImage{
    background-image: url('/wave.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imageMainMobile{
    height: 600px;
    width: 300px;
}
.imageAll{
    height: 100%;
    width: 100%
}
.imageContainerMain{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 120px !important;
}
.bgImageContainer{
    padding: 80px 50px;   
}
.no-margin-main{
    margin: 0 !important
}
.home-heading-con{
    background-color: transparent;
    padding: 100px;   
}
.home-heading-con h1{
    flex-wrap: nowrap;
    font-size: 52px;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #434243;
    font-weight: bold;
    margin-top: 34px;
    text-align: left;

}
.home-heading-con p{
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #434243;
    font-weight: normal;
    margin-top: 34px;
    text-align: left;
}
.home-heading-con span{
    color: #f1beb1;
}
.home-heading-con button{
    border: 0px;
    margin: 40px 0px;
    color: #f7f7f7;
    font-size: 16px;
    width: 223px;
    height: 60px;
    border-radius: 35px;
    background-color: #78c8d7;
}
.home-cases-heading h1{
    font-size: 42px;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #434243;
    font-weight: 400;
    margin-top: 34px;
    text-align: center;
}
.iconMagicPen{
    width: 23.4px;
    height: 24px;
    margin: 0px 10px;
}
.BtnHomeMainOut.btn.btn-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marginBottom100{
    margin-bottom: 100px !important;
}
.home-form{
    background-color: transparent;
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
    width: 100%;
}
.home-form h1{
    font-size: 42px;
    color: #434243;
}
.home-dropdown.form-control{
    text-align: left ;
    height: 40px;
    width: 300px ;
    border: 1px solid #dedede ;
    background-color: #fff ;
    color: #585858 ;
    font-size: 14px ;
    margin-bottom: 30px;
    font-weight: 300 !important;
}
.home-form-content{
    display: inline-block;
    text-align: left;
}
.home-form-content label{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #a0a0a0;
    font-weight: 300;
}
.home-form-out{
    margin-top: 40px;
}
.home-form-content button{
    width: 160px;
    height: 40px;
    border-radius: 25px;
    background-color: #adadad;
    border: 0px;
    color: #ffffff;
    font-size: 14px;
}
.home-radio{
    display: flex;
    margin-bottom: 30px;
    margin-left: -10px;
}
.home-radio p{
    margin-left: 20px;
    color: #585858;
    font-size: 14px !important;
}
.home-radio input{
    font-size: 14px;
}
.home-radio-form{
    margin-right: 50px;
}
.alineCenterHome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.home-detail-con-main{
    width: 90px;
    height: 90px;
    object-fit: contain;
}
.detailIconCon p{
    font-size: 22px !important;
    margin-top: 20px;
    color: #434243;
}
.paddingLeft20{
    padding-left:20px;
}
.home-detail-con{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin:  100px 0px 0px 0px;
    padding: 0px 110px !important;
}
.home-detail-con-bottom-out h1{
    text-align: center;
    margin-top: 150px;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: #434243;
    margin-bottom:50px !important;
}
.home-detail-con-bottom{
    padding: 0px 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.home-detail-con-pic{
    height: 115px;
    display: inline-block;
    width: 115px;
    background-color: #d8d8d8;
    border-radius: 100%;
}
.home-detail-con-main h1{
    font-size: 20px;
    color: #585858;
    font-weight: 600;
    padding: 20px 50px;
}
.home-detail-con-main p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #687077;
    text-align: left;
    font-size: 14px;
}
.home-contact-con-main p{
    font-size: 18px;
    font-weight: bold;
    color: #434243;
    margin-top: 20px;
}
.home-contact-con-main label{
    font-size: 16px;
    color: #434243;
    font-weight: 300;

}
.home-contact-con-main h6{
    font-size: 16px;
    font-weight: 300;
    color: #78c8d7;
}
.home-contact-iconOut-main1{
    width: 50px;
    height: 80px;
    margin-left: 20px;
}
.home-contact-iconOut-main2{
    width: 70px;
    height: 70px;
    margin-right: -12px;
    margin-top: -30px;
}
.home-contact-iconOut-main3{
    width: 90px;
    height: 90px;
    margin-right: -16px;
}
.home-contact-iconOut{
    width: 130px;
    height: 130px;
    background-color: #e8d5d0;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.home-contact-iconOut2{
    width: 130px;
    height: 130px;
    background-color: #a7cfd8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.home-contact-iconOut3{
    width: 130px;
    height: 130px;
    background-color: #c0c0c0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* .home-slider-component{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    position: relative;
} */

.home-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    position: relative;
}

.home-slider-image{
    position: absolute;
    width: 776px;
    height: 715px;
    left: 20%;
}
.home-slider-image-con{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    z-index: 9999
}
.home-slider-image-con h1{
    font-size: 42px;
    font-weight: bold; 
    color: #434243;
    margin-top: 30px
}
.home-slider-image-con p{
   font-size: 24px;
    color: #6a6a6a;
    text-align: center;
    width: 258px;
    margin-top: 70px;
}
.home-slider-image-con label{
    font-size: 18px;
    font-weight: bold;
    color: #434243;
    margin-top: 30px;
    margin-bottom: 160px;
}
.home-slider-image-main{
    width: 35px;
    height: 31px;
    margin-top: 70px;
}
.home-slick{
    margin-top: 60px;
    margin-bottom: 60px;
}
.home-slick h1{
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif; 
    color: #585858; 
    float: left;
}
.home-slick-button-out{
    float: right;
}
.home-slick button{
    width: 123px;
    height: 36px;
    border-radius: 25px;
    border: solid 2px #979797;
    background-color: #ffffff;
    color: #979797;
    font-size: 14px;
    float: right;
}
.slick-arrow{
    top: 32% !important;   
}
.slick-prev{
    left: -55px;
    transform: rotate(0deg);
    height: 60px;
    width: 60px;
}
.slick-next{
    right: -55px;
    height: 60px;
    width: 60px;
    -webkit-transform: rotate(180deg);

}
.slick-prev:hover{
    color: #fff !important;
    background-size: 10px;
    content: "\f104";
    background-repeat: no-repeat;
    font-family: FontAwesome;
    background-color: #78c8d7;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}    
.slick-next:hover{
    color: #fff !important;
    background-size: 10px;
    content: "\f104";
    background-repeat: no-repeat;
    font-family: FontAwesome;
    background-color: #78c8d7;
    height: 60px;
    width: 60px;
    border-radius: 50%;
 }  
.slick-prev:hover:before {
    color: #fff !important;
    background-size: 10px;
    content: "\f104";
    background-repeat: no-repeat;
    font-family: FontAwesome;
 }
.slick-next:hover:before {
    color: #fff !important;
    background-size: 10px;
    content: "\f104";
    background-repeat: no-repeat;
    font-family: FontAwesome;
 }

.slick-next:before, .slick-prev:before {
    color: #000;
    background-size: 10px;
    content: "\f104";
    background-repeat: no-repeat;
    font-family: FontAwesome;
}
.home-slick-img{
    margin-top: 40px;
    margin-bottom: 70px;
}
.home-slick-slider{
    margin-left: 80px;
    margin-right: 80px;
}
.phoneImgAll{
    width: 150px !important;
    height: 250px;
}
.home-slick-slider.slick-initialized .slick-slide {
    display: block;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.circleBackgroundContainer{
    position: relative;
    margin-top: 50px;
}
.zindexAll{
    z-index: 10000;
    position: relative;
}
.circleBackground:after {
    margin-top: 120px;
    content: attr(x);
    position: absolute;
    left: -50%;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f0f3f4;
    z-index: -99;
}
.sliderButton{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sliderButton button{
    width: 214px;
    font-size: 14px;
    height: 50px;
    border-radius: 35px;
    background-color: #f1beb1;
    border: none;
}
.mobile_image_out{
    display: flex;
    align-items: flex-start;
    padding-left: 40px !important;
}
.home-form-inner{
    padding-right: 80px !important;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
.designBtn.btn.btn-secondary{
    width: 172px;
    height: 40px;
    border-radius: 35px;
    background-color: #78c8d7;
}
.arrowOutCon{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowOut{
    background-color: #fff;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-detail-con h1{
    margin-bottom: 30px;
}
.sliderCon.container-fluid{
    padding:0px 60px
}
.phoneSliderText{
    width: 100%;
}
.phoneSliderText h5{
    color: #434243;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.phoneSliderText p{
    color: #434243;
    font-size: 16px;
    font-weight: 200;
    text-align: center !important;
}
.sliderCon .slick-slider button{
    margin-top: 120px !important;
}
ul.slick-dots {
    position: absolute;
    bottom: 50px !important;
}
@media(max-width: 1342px){ 
    .home-heading-con{
        padding: 70px !important;
    }
}
@media(max-width: 1223px){ 
    .home-heading-con{
        padding: 62px !important;
    }
}
@media(max-width: 1200px){
    .home-heading-con{
        padding: 70px !important
    }
    .home-heading-con h1{
        font-size: 45px !important;
    }
    .imageContainerMain{
        /* padding-right: 80px !important; */
        padding:  0px 0px 0px 80px !important
    }
}
@media(max-width: 1116px){
    .home-heading-con h1{
        font-size: 40px !important;
    }
}
@media(max-width: 1041px){
    .home-heading-con{
        padding: 60px !important
    }
    .home-heading-con h1{
        font-size: 40px !important;
    }
    .imageContainerMain{
        /* padding:  0px 0px 0px 80px !important */

        /* padding-right: 70px !important; */
    }
}
@media(max-width: 1024px){
    .home-heading-con h1{
        font-size: 40px !important;
    }
    .home-heading-con{
        padding: 50px !important
    }
    .home-slider-image-main{
        width: 35px;
        height: 31px;
        margin-top: 30px;
    }
    .home-slider-image-con p{
        font-size: 20px;
         color: #6a6a6a;
         text-align: center;
        margin-top: 25px
     }
    ul.slick-dots {
        position: absolute;
        bottom: -100px !important;
    }
    .home-detail-con-bottom{
        text-align: center;
        margin-top: 80px;
        padding: 0px 50px;
    }
    .home-detail-con-bottom h1{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #434243;
        margin-bottom:50px !important;
    }

    .slick-prev:hover{
        color: #000 !important;
        background-color: transparent;
    }    
    .slick-next:hover{
        color: #000 !important;
        background-color: transparent;
     } 
     .slick-prev:hover:before {
        color: #000 !important;
     }
    .slick-next:hover:before {
        color: #000 !important;
     }
    
    .home-slider-image-con{
        padding: 20px;
    }
   .home-slider-image{
       display: none;
   }
   .home-slider-image-con label{
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 20px;
    }   
   .home-slider{
       background-color: #f7ebe8;
       border-radius: 20px;
   }
}
@media(max-width: 991px){
    .home-heading-con{
        padding: 40px !important
    }
    .bgImageContainer{
        margin-top: 30px
    }
    .home-detail-con-bottom-out h1{
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .mb40{
        margin-bottom: 40px;
    }
    .home-form-inner{
        padding:0 !important;
    }
    .home-cases-heading h1{
        font-size: 30px;
    }
    .bgImageContainer{
        padding: 0px 0px;   
    }
    .home-detail-con-main h1 {
        font-size: 15px;
        padding: 20px 12px;
    }
    .home-detail-con-main p {
        font-size: 12px;
    }
    .home-slider-main > .col-md-9 {
        max-width: 100% !important;
    }
    .home-slider-main > .col-md-3 {
        max-width: 100% !important;
    }
    .slick-slide img{
        display: initial;
    }
    .imageMainMobile {
        height: 400px;
        width: 220px;
    }
    .home-heading-con {
        padding: 20px;
    }
    .home-heading-con h1 {
        font-size: 45px !important;
    }
}
@media(max-width: 895px){ 
    .home-detail-con-bottom{
        padding: 0px 10px;
    }
    .home-heading-con{
        padding: 20px !important;
    }
    .imageContainerMain{
        /* padding-right: 40px !important; */
    }
    .home-detail-con{
        padding: 0px 60px !important;
    }
}
@media(max-width: 818px){ 
    .home-heading-con{
        padding: 10px !important;
    }
    .home-heading-con h1 {
        font-size: 43px !important;
    }
    .home-contact-con-main label{
        font-size: 13px !important;
    }
    .home-contact-con-main h6{
        font-size: 13px !important;
    }
}

@media(max-width: 767px){ 
  
    .home-detail-con{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        margin-top: 20px;
        padding: 0px 40px !important;
    }
    .home-slick-img{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .home-cases-heading h1{
        margin-top: 10px;
    }
    .circleBackgroundContainer{
        margin-top: 20px;
    }
    
    .imageContainerMain{
        display: none;
    }
    .home-heading-con{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .marginBottom100{
        margin-bottom: 40px !important;
    }
    .home-slider-image-main{
        width: 35px;
        height: 31px;
        margin-top: 30px;
    }
    .home-slider-image-con{
        padding: 10px;
    }
    .home-slider-image-con p{
        font-size: 20px;
         color: #6a6a6a;
         text-align: center;
         width: 100%;
        margin-top: 15px
     }
     .home-slider-image-con h1{
        font-size: 36px;
        margin-top: 10px
    }
    .home-slider-image-con label{
        font-size: 16px;
        margin-top: 10px;
    }
    .circleBackground:after {
        margin-top: 120px;
        content: attr(x);
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: #fff;
        z-index: -99;
    }

   
    .iconMagicPen{
        width: 17.4px;
        height: 17px;
        margin: 0px 10px;
    }
    .detailIconCon{
        margin-top: 20px;
    }
    .home-form{
        padding-bottom: 20px;
    }
  
    .home-form{
        padding-top: 10px;
    }
    .home-form-inner{
        display: flex;
        justify-content: center;
    }
    .arrowOutCon{
        display: none;
    }
    .mobile_image {
        display: none;
    }
    .home-cases-heading h1{
        font-size: 20px;
    }
    .home-heading-con h1 {
        font-size: 36px;
    }
    .home-heading-con p{
        font-size: 15px;
    }
    .home-heading-con button{
        border: 0px;
        margin: 40px 0px;
        color: #f7f7f7;
        font-size: 16px;
        width: 180px;
        height: 50px;
        border-radius: 35px;
        background-color: #78c8d7;
    }
    .home-slider{
        padding: 20px 20px;
    }
    /* .home-slider-image {
        padding: 20px 0px;
    } */
    .imageMainMobile{
        height: 430px;
        width: 250px;
    }
    .home-detail-con-main{
        margin-top: 20px;
        margin-bottom: 10px
    }
    .home-slider-image{
        position: absolute;
        width: 380px;
        height: 600px; 
    }
}
@media(max-width: 640px){ 
    .home-detail-con-bottom{
        flex-direction: column;
        align-items: center;
    }
    .home-detail-con{
        flex-direction: column !important;
        margin-top: 20px;
    }
    /* .home-detail-con .col-6.col-sm-4 {
        max-width: 100%;
    } */
    .home-slick h1{
        font-size: 16px;
    }
    .home-form-out .col-sm-6 {
        max-width: 100%;
    }
    .home-heading-con{
        padding: 20px;   
    }
    .arrowOutCon{
        display: none;
    }
    .mobile_image {
        display: none;
    }
    .home-form-inner {
        width: 100%;
    }
    .home-dropdown.form-control {
        width: 100%;
    }
    .home-form-content.position-relative.form-group {
        width: 100%;
    }
    .home-slider-image {
        /*padding: 50px 0px;*/
    }
    .home-slider-main {
        padding: 20px;
    }
    .home-slider-con {
        padding: 3px;
        width: 100%;
    }
    .home-slider-image {
       /* padding: 0px 0px;
        margin: auto;
        float: inherit;*/
    }
    .ml-auto.header-center-text.navbar-nav {
        margin: 0;
    }
    .ml-auto.header-center-text.navbar-nav li.nav-item {
        text-align: center;
        border-bottom: 1px solid #d8d8d8;
        width: 100%;
        padding: 3px;
    }
    .ml-auto.header-center-text.navbar-nav li.nav-item:last-child {
        text-align: center;
        border-bottom: none;
        width: 100%;
        padding: 3px;
    }
    .home-slider{
        padding: 30px;
    }
}
@media(max-width: 520px){ 
    .home-detail-con{
        flex-direction: column !important;
    }
    .home-heading-con h1 {
        font-size: 26px !important;
    }
    
}
@media(max-width: 480px){ 
    .home-detail-con-bottom-out h1{
       font-size: 30px
    }
    .home-slider-image-con p{
        font-size: 16px;
         color: #6a6a6a;
         text-align: center;
         width: 100%
     }
     .home-slider-image-con h1{
        font-size: 32px;
        margin-top: 10px
    }
    .home-slider-image-con label{
        font-size: 16px;
        margin-top: 10px;
    }
    .home-slider-main p {
        font-size: 11px;
    }
    .home-slider-con {
        padding: 8px 20px;
    }
    .home-slider-main p {
        font-size: 11px;
    }
    .home-slider-main h3 {
        font-size: 12px;
    }
    .home-heading-con h1 {
        font-size: 26px !important;
    }
    .home-heading-con{
        padding: 0px;
    }
}
@media(max-width: 330px){ 
    .home-heading-con h1 {
        font-size: 21px !important;
    }
    .home-heading-con p {
        font-size: 12px !important;

    }
}

/* 

@media(max-width: 640px){ 
.home-form-out .col-sm-6 {
    max-width: 100%;
}
.home-form-inner {
    width: 100%;
}
.home-dropdown.form-control {
    width: 100%;
}
}
@media(max-width: 1000px){ 
    .menu-dropdown.form-control{
        width: 180px;
    }
} */