$text-color: #a0a0a0;

body {
	overscroll-behavior: contain;
}  
.mainContainerEditor{
	padding: 35px 120px;
	background-color: #e0e6e8;
	height: 100%;
}
.material-model-dropdown{
	margin: 0px !important;
}

.editorImgOut{
	width: 117px;
	height: 25px;
	object-fit: contain;
	margin-bottom: 35px;
}
.editorListMarginTop{
	margin-top: 20px !important;
}
.imageAllEditor{
	height: 100%;
	width: 100%;
	margin:  21px 15px;
}
.editorAddFiles{
	background-color: #ffffff !important;
	border-right: 2px solid #e4e5e5;
	overflow: hidden;
}

#svg-container {
	width: 100%;
	height: 100%;
	/* pointer-events: none; */
}

.mobile-text-tab {
	display: none;
}
@media screen and (max-width:1040px) {
	.mainContainerEditor{
		padding: 35px 35px;
	}
	.imageListEditor {
		margin-left: 10px;
	}
}
@media screen and (max-width:800px) {
	.imageListEditor {
		margin-left: 3px;
	}
}
@media screen and (max-width:767px) {

	
	.mainContainerEditor{
		padding: 0px !important;
	}
	.renderedTab .alignment-container {
		display: none;
	}

	.full-width .position-relative.form-group {
		padding-top: 80px !important;
	}

	.mobile-text-tab {
		padding: 10px;
		background-color:#f1f1f1;
		position: absolute;
		top: -1px;
		width: 100%;
		left: 0px;
		display: flex;
	}

	div[id^="font-picker"] .dropdown-button {
		height: 40px !important;

	}

	.mobile-text-tab #font-picker {
		height: 42px;
		flex-basis: 50%;
    	width: 100%;
	}
	
	.mobile-text-tab .alignment-container {
		display: block;
		margin-top: 3px;
		flex-basis: 50%;
		text-align: center
	}

	.mobile-text-tab .alignment-container  > span {
		font-size: 25px;
    	padding: 5px;
		
	}



	.display-none-font {
		display: none;
	}

	.InnerFonts {
		display: none;
	}

	.close-mobile-tab {
		margin-bottom: -74px
	}

	#svg-container {
		width: 100%;
		height: 80%;
	}
}
.editorListMarginTop{
    margin-top: 40px !important;
}

.Editorsidebar {
    background-color: #828e91;
	padding: 15px 0px;
		
    h3 {
	   	opacity: 0.5;
	    color: #2d2c2b;
	    font-family: 'Noto Sans', sans-serif;
	    font-size: 15px;
	    font-weight: 300;
	    font-style: normal;
	    font-stretch: normal;
	    letter-spacing: normal;
	    text-align: left;
	    margin: 0;
	   	padding: 20px 24px;
    }

   	li.list-group-item,  {
		border: none;
	    background: #f2f3f3;
	    padding:15px 13px;
		cursor: pointer;
		&.active {
			background: #dce3e4;
			border-left: 3px solid #78c8d7;
		}
		&.active:focus,
		&.active:hover {
			border-left: 3px solid #78c8d7;
			background: #dce3e4;
			padding:15px 13px;
			cursor: pointer;
		}
	}
	
	/* span.selectcolors {
	    width: 28px;
	    height: 28px;
	    background-color:#636363;
	    padding: 5px 12px;
	    border-radius: 50%;
	    margin: 5px;
	}
	li.active.list-group-item span.selectcolors {
		background: red;
	} */
	span.innertags {
        padding: 0 12px;
		font-size: 14px;
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #636363;
		margin-left: 20px;
	}
	.li.list-group-item::after,
	li.list-group-item::before {
	  width: 0;
	  height: 0;
	  content: "";
	  display: block;
	  position: absolute;
	  bottom: 100%;
	  
	}
	li.list-group-item.active::before {
	    border-right: 10px solid white !important;
	    border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
	    top: 10px;
	    right: 0;
	    position: absolute;
		float: right;
		
	}
	li.active.list-group-item span.innertags {
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #434243 !important;
}	
}
.imageupload {
    text-align: center;
    margin: 134px 0;
	padding: 0;
	cursor: pointer;

	/* div {
	    border-style: none!important;
	    width: 120px !important;
	    margin: auto;
	    padding-top:18px;
	    cursor: pointer;
	}*/
	.imagedownload i {
	    font-size: 22px;
	    background: #f3f3f3;
	    width: 64px;
	    border-radius: 40px;
	    color: #687077;
	    height: 64px;
	    padding: 22px 0px;
	}
	p {
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.36;
		letter-spacing: normal;
		text-align: center;
		color: #687077;
	}
	a {
		color: #687077;
    	text-decoration: underline; 
	}
a :hover{
		text-decoration: underline; 
	}
	.img-extensions {
		opacity: 0.5;
		font-family: 'Noto Sans', sans-serif;
		font-size: 12px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.58;
		letter-spacing: normal;
		text-align: center;
		color: #687077;
	}
	.imagedownload {
    	margin-bottom: 28px;
	}
}

.svgContainer {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px !important;
	height: 700px !important;
}

 .renderedTab {
		display: flex;
		justify-content: center;

		.setBgTop {
			padding-top: 40px;
		}
 }
.innertext {
  width: 100% !important;
  height: 97px !important;
  resize: none;
  border-radius: 0% !important;
}
.textLogo {
    font-family: 'Noto Sans', sans-serif; 
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a0a0a0;
}
.InnerFonts {
    color: #a0a0a0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a0a0a0;
}
.imageList {
	text-align: center;
	display: flex;
	justify-content: center;
	height: 100%;
	margin: 20px 10px;
	ul{
		padding: 3px 6px;
		list-style: none;
		margin: 0 -15px;
		overflow: auto;
		height:100%;
		li{
			width: calc(100% / 3);
			float: left;
			display: table;
			padding: 0 5px;
			min-height: 86px;
			margin-bottom: 8px;
			&:hover{
				cursor: pointer;
			}
			.innerImgCon{
				background: #f5f5f5;
				display: table-cell;
				vertical-align: middle;
				border-radius:5%;
			}
		}
	}
}
#font-picker {
  width: 100%;
}
.dropdown-button {
    background: #fff !important;
    border: 1px solid #dedede;
    box-shadow: none;
}

.innersketch {
	margin: 20px auto;
    -webkit-box-sizing: inherit !important;
    box-sizing: inherit !important;
    width: 85% !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
    border-radius: 0% !important;
}
.expanded {
	max-height: 200px;
	background: #fff !important;
}

.componentHeading {
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #a0a0a0;
}

.full-width {
	width: 100%;
	
	.position-relative.form-group {
		padding-top: 40px;
	}
}
.materiallist {
	width: 100%;

    .materiallist ul {
	    margin: 0;
	    padding: 0;
	}
	li.list-group-item {
    	border: none;
		padding: 10px;
	    border-radius: 14px;
	    margin: 22px;
	    border: solid 5px #e9e9e9;
	    cursor: pointer;
	}
	 ul {
    	margin: 0;
    	padding: 0;
	}
	span.materialcolors {
	    width: 28px;
	    height: 28px;
	    background-color: #e5e5e5;
	    padding: 5px 12px;
	    border-radius: 20px;
	    margin: 3px 0px;
	    float: right;
	    vertical-align: top;
	}
	.materialtitle {
	    display: inline-block;
		margin-top: 3px;
		font-size: 14px;
		font-weight: normal;
		color: #687077;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #687077
	}
	li.active.list-group-item > .materialtitle {
		font-family: 'Noto Sans', sans-serif;
	    cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #687077;
    
	}
	li.active.list-group-item {
	    border-radius: 14px;
	    background-color: #e9e9e9;
	    border: solid 5px #e9e9e9;
	}
	li.active.list-group-item span.materialcolors {
		background: #fff;
		color: red;
	}


}
/* Model list */

.modelSection {
	padding: 25px 25px 0px 25px;
	background: #828e91;

	p {
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		opacity: 0.5;
	}

	.btn-group {
		width: 100%
	}

	button.btn.btn-secondary   {
		width: 100%;
		border-radius: 0%;
		height: 40px;
		border: none;
		background: #fff;
		color: #687077;
		font-size: 14px;
		font-weight: normal;

		span.modelName {
			float: left;
		}

		.fa.fa-angle-down {
			float: right;
		}
		
	}

	.dropdown-menu.show {
		overflow: auto;
		max-height: calc( 370px - 225px);
	}

	button.dropdown-item {
		padding: 9px 43px 9px 9px;
		border-radius: 0%;
		border: none;
		background: #fff;
		color: #687077;
		font-size: 14px;
		font-weight: normal;
	}

}
.innerphone {
		.phoneText {
			font-family: 'Noto Sans', sans-serif;
		    padding-top: 20px;
			padding-bottom: 15px;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #a0a0a0;
		}
	.Phonecolors {
	    width: 28px;
		height: 28px;
		background-color: #ababab;
		padding: 6px 13px;
		border-radius: 50%;
		border: solid 1px #979797
	}
	.Phonecolors2 {
	    width: 28px;
	    height: 28px;
	    background-color:#2c2c2c;
	    padding: 6px 13px;
	    border-radius: 50%;
		margin: 12px;
		border: solid 1px #2c2c2c
	}
	.Phonecolors3 {
	    width: 28px;
	    height: 28px;
	    background-color: #fff;
	    padding: 6px 13px;
		border-radius: 50%;
		border: solid 1px #979797
	}
	

}
.pricetab {
	/* padding-top: 32px; */
	margin-top: -50px;
	width: 100%;

    .priceText {
		font-family: 'Noto Sans', sans-serif;
		font-size: 20px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #687077;
		display: inline-block;
		width:40%;
		min-width: 40px;
	}
	.savebtn.btn.btn-secondary {
		font-family: 'Noto Sans', sans-serif;
		max-width :118px;
		width:60%;
		height: 30px;
		border-radius: 25px;
		background-color: #adadad;
		vertical-align: top;
		float: right;
		color: #fff;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		
	}
}
.tooltip-inner {
    max-width: 200px;
    padding: .25rem .5rem;
    color: #000 !important;
    text-align: center;
    cursor: pointer;
	border-radius: .25rem;
	border-radius: 3px;
  	box-shadow: 0 2px 12px 0 rgba(141, 141, 141, 0.22);
  	border: solid 1px #c4c9cb;
  	background-color: #ffffff !important;
}

.imageTooltip {
	font-size: 10px;
	text-align: left;
	  color: #687077;
	  width: 68px;
  font-family: NanumGothic;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  
	  
}

/* input range slider */

.rotatetext {
	width:100%;
    background: #e6eaeb;
    display: inline;

}
.customslider{

	float: left;
	padding-top: 9px;
    padding-bottom: 9px;
	margin-left: 20px;

	.customslider1{

		display: inline-block;
		margin-right: 40px;
	
		span{
			padding-right: 5px;
			font-family: 'Noto Sans', sans-serif;;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.71;
			letter-spacing: normal;
			text-align: left;
			color: #687077;
		}
		
		.slider{
			display: inline-flex;
	
			.rangeslider {
				background: #fff;
    			box-shadow: inherit;
	
				 .rangeslider__fill {
					height: 100%;
					background-color:transparent; 
					border-radius: 10px;
					top: 0;
					display: block;
					box-shadow:none ; 
				}
			}
	
			.rangeslider-horizontal {
				height: 6px;
				width: 105px;
	
				.rangeslider__handle {
				    background-color: #a7cfd8;
					width: 18px;
					border: solid 3px #7cafb9 !important;
					border: none; 
    				height: 18px;
					border-radius: 30px;
					top: 50%;
					transform: translate3d(-50%,-50%,0);
					box-shadow:none;
				}
	
				.rangeslider__handle:after {
					display: none;
				}
			}
	
		}
	}
}

.selectedReactanglePointer:hover{
	stroke: #2c2c2c;
}

/* Collage css */

.svgCollagePath{
	fill: transparent;
	stroke:#687077;
	stroke-width:1;

	&:hover {
		@extend .collageActive
	}
	
	&.active {
		stroke: black;
		stroke-width: 2;
	}
}

.activeCollageItem {
	border: 1px solid;
}

.collageActive {
	stroke:black;
	stroke-width:2;
}

.row:before {
	content: none;
}

.rotateIcon:hover{
	cursor: pointer;
}

  .tooltip-arrow:before{
	  border-color: #fff transparent transparent transparent !important
  }
  .mainNavlinks {
    background: #f3f3f3;
  }
.alignment-container {
	margin-top: 20px;
	& > span {
		font-size: 30px;
		padding: 10px;
		color: #c1c1c1;
		&.active {
			background-color: #ebebeb;
		}
	}
}

div[id^="font-picker"] {
	position: relative;
    display: inline-block;
    width: 200px;
	border: 1px solid #ced4da;
	box-shadow: none;
	border-radius:0%;
}
#UncontrolledTooltipExample {
    background-color: #fff !important;
    width: 34px !important;
    height: 34px !important;
    text-align: center;
    justify-content: center;
    padding-top: 8px;
    margin-top: 18px;
}
#UncontrolledTooltipExample i {
	color: #78c8d7 !important;
}
#DisabledAutoHideExample {
	background-color: #fff !important;
	width: 34px !important;
    height: 34px !important;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 18px !important;
}
#DisabledAutoHideExample i {
	color: #f1beb1 !important;
	font-size: 16px;
}
.savebtnEditor.mobileview button.savebtnEditor.btn.btn-secondary {
    display: none;
}
.mobile-tab-bar .MobileEditorTab .mobile-title {
	opacity: 0.5;
}
.btn-secondary:focus {
	box-shadow: none !important;
	outline: none !important;
}
/*Responsive */
@media screen and (max-width:1180px) {
	.mainContainerEditor{
		padding: 35px 35px;
	}
}

@media screen and (max-width:1050px) {
	

	.close-mobile-tab {
		margin-bottom: -64px
	}

	.Editorsidebar{

		li.list-group-item.active{

			padding:18px 0px;
		}

		li.list-group-item  {

			padding:18px 0px;
		}

		li.list-group-item.active:hover {

			padding:18px 0px;


		}

		
	}


  }

  @media screen and (max-width:890px) {

	.close-mobile-tab {
		margin-bottom: -64px
	}

	.Editorsidebar{

		.innertags {

			padding:0px !important;
		}
	}


  }
  
  @media screen and (max-width:816px) {

	.close-mobile-tab {
		margin-bottom: -64px
	}
	
	.Editorsidebar li.list-group-item::before{

		border-right: 0px solid #fff !important;

	}


  }

  

  @media (max-width:947px) {

	.close-mobile-tab {
		margin-bottom: -64px
	}
	
	.innerphone .Phonecolors2{

		padding: 6px 12px;
		margin: 5px ; 
	}

	.innerphone .Phonecolors{
		padding: 6px 12px ;
		

	}

	.innerphone .Phonecolors3{
		padding: 6px 12px ;
	
	}
	.modelSection {

		padding: 25px 25px 0px 10px;
	}


  }

  @media (max-width:809px) {

	.close-mobile-tab {
		margin-bottom: -64px
	}

	.pricetab {
		text-align: center;
	}
	
	.pricetab .savebtn.btn.btn-secondary {
		width: 100%;
	}

  }


  @media (max-width:767px) {

	.display-none-font {
		display: none;
	}

	.InnerFonts {
		display: none;
	}

	.innertext {
		height: 35px !important;
	}

	.close-mobile-tab {
		margin-bottom: -74px
	}

	.pricetab {
		text-align: left;
	}
	.savebtnEditor.mobileview button.savebtnEditor.btn.btn-secondary {
		display: block;
	}
	.savebtnEditor.mobileview button.savebtnEditor.btn.btn-secondary {
		display: block;
		float: right;
		position: absolute;
		right: 20px;
		top: 50px;
	}
	#mobile-tool-list {
		margin: 0;
	}
	#mobile-tool-list .col-12 {
		margin: 0;
		padding: 0;
	}
  }


  .dropdown-menu.show {
    width: 100%;
}

@media (max-width:880px) {

	.close-mobile-tab {
		margin-bottom: -64px
	}

	.materiallist li.list-group-item{
		margin-left: 0px;
	}
}


body .outerCon {

	display: block;
}
.outerCon .svgContainer, .outerCon .selectTab, .outerCon .Editorsidebar {

	float: right;
}


/* mobile responsive */

.mobile-tool-list {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background:#fff;
	transition: 0.5s all;
}

.close-mobile-tab {
	margin-bottom: -64px
}

.mobile-tab-pop-up{
	background:#fff;
	width: 100%;
	z-index: 1;
	height: 350px;
	border: 2px solid #d9d9d9;
}

.MobilePopupTab {
	height: 100%;
	overflow: scroll;
	height: 300px;
	transition: 0.7s margin-bottom, 0.4s opacity;
	margin-bottom: -700px;
	opacity:0;

	&.active {
		margin-bottom:0px;
		opacity:1;
	}
.mobilepopupclose {
	display: none;
}

	.mobileclose {
		width: 100%;
		margin-bottom: 10px;
		position: fixed;
		left: 0px;
		padding: 10px 10px;
		background-color: white;
	}
}

.mobile-tab-case-material{

	background:#fff;
	width: 100%;
	z-index: 1;
	padding: 13px;
	border: 1px solid #d9d9d9;
	font-family: 'Noto Sans', sans-serif;

	.MobileCaseMaterialTab {
		cursor: pointer;
		.case-mat-title {
			font-weight: bold;
			font-size: 12px;
			color:grey;
		}

	}	
}

.mobile-tab-bar {
	margin: 0px !important;
	background-color:#828e91;
	padding: 12px 0px 6px 0px;

	.MobileEditorTab {
		cursor: pointer;

		.mobile-icon{
			margin-bottom: 5px;
			
		}
		.mobile-title {
			font-family: 'Noto Sans', sans-serif;
			font-weight: bold;
			color:#fff;
			margin-bottom: 0rem;

		}
	}
}


.ModelDropDown {

	.btn-group {
		width: 100%
	}

	button.btn.btn-secondary   {
		width: 100%;
		border-radius: 0%;
		height: 40px;
		border: none;
		background: lightgray;
		color: #687077;
		font-size: 14px;
		font-weight: normal;
		padding: 10px;

		span.modelName {
			float: left;
		}

		.fa.fa-angle-down {
			float: right;
		}
		
	}

	.dropdown-menu.show {
		overflow: auto;
		height: calc( 370px - 225px);
	}

	button.dropdown-item {
		padding: 9px 43px 9px 9px;
		border-radius: 0%;
		border: none;
		background: #fff;
		color: #687077;
		font-size: 14px;
		font-weight: normal;
	}
	
	p {
		font-family: 'Noto Sans', sans-serif;
		font-weight: bold;
		font-size: 12px;
		color:grey;
	}			

}

.MaterialDropDown {

	.btn-group {
		width: 100%
	}

	button.btn.btn-secondary   {
		width: 100%;
		border-radius: 0%;
		height: 40px;
		border: none;
		background: lightgray;
		color: #687077;
		font-size: 14px;
		font-weight: normal;
		padding: 10px;

		span.modelName {
			float: left;
		}

		.fa.fa-angle-down {
			float: right;
		}
		
	}

	.dropdown-menu.show {
		overflow: auto;
		height: calc( 370px - 225px);
	}

	button.dropdown-item {
		padding: 9px 43px 9px 9px;
		border-radius: 0%;
		border: none;
		background: #fff;
		color: #687077;
		font-size: 14px;
		font-weight: normal;
	}
	
	p {
		font-family: 'Noto Sans', sans-serif;
		font-weight: bold;
		font-size: 12px;
		color:grey;
	}			

}

.padding-bottom {
	padding-bottom: 20px;
}

.popContainer {
	background: #FFF;
	padding: 20px 50px 20px 30px !important; 
}

@media (max-width:767px) {
	.editor-modal-close-buttonMain{
		display: none !important
	}

	.display-none-font {
		display: none;
	}

	.InnerFonts {
		display: none;
	}

	.close-mobile-tab {
		margin-bottom: -74px
	}

	.renderedTab {
		/* float: left; */
		width: 100%;
		padding: 10px;
	}
	

  }

  @media (max-width:320px) {

	.close-mobile-tab {
		margin-bottom: -64px
	}

	#svg-container {
		height: 76%;
	}

	.MobileEditorTab {
		img {
			height: 15px;
			width: 15px;

		}
	}

	.mobile-tab-bar .MobileEditorTab .mobile-title {

		font-size: 9px;
	}

	.MobilePopupTab {
		height: 300px;
	}

	.popContainer {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.ModelDropDown p {
		margin-bottom: 2px;
	}

	.MaterialDropDown p {

		margin-bottom: 2px;

	}

  }
.loader {
	position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.31);
	font-size: 50px;
	z-index: 999999;
	display: none;

	&.active {
		display: flex;
	}
}

.mobile-tab-close {
	display: none;
	margin:auto;
	display: none;
	box-shadow: none;
	box-sizing: none;
	padding: 10px 100px;
	border-radius: 25px;
	background-color: #3c3738;
    border: none;
	color:#fff;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}	

.display-block {
	display: block;
}

.display-none {
	display: none !important;
}
.editor-modal-close{
	position: relative;
	z-index: 9999;
}
.editor-modal-close-buttonMain span{
    font-size: 28px !important;
    color: #c0c0c0;
    font-weight:200;
}
.editor-modal-close-buttonMain{
    border: none;
    position: absolute;
    right: -35px !important;
    top: -20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    box-shadow: 0 2px 29px 0 #7d8991;
}