@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.no-padding{
    padding: 0
}
.about-heading{
    margin-top: 25px;
}
.aboutus-bottom-con{
    margin-top: 50px;
    width: 100%;
    background-color: #e7e7e7;
    min-height: 300px;
    height: 100%;
}
.aboutus-con-heading{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 24px;
    color: #585858;
    text-align: center;
    padding-top: 46px;
    font-weight: bold;
}
.aboutus-icon-out{
    color: #585858 !important;    
    width: 50px;
    height: 50px;
    text-align: center !important;
    border-radius: 100%;
    line-height: 55px;
    background-color: #ffffff;
    display:inline-block;
    margin-bottom: 10px;
}
.aboutus-icon{
    font-size: 20px;
}
.aboutus-block-content{
    width: 100%;
}
.aboutus-block{
    text-align: center;
    margin-top: 40px
}
.aboutus-block p{
    font-size: 14px;
    color: #687077;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width: 800px){
    .aboutus-block .col-md-4 {
        max-width: 100%;
        margin-bottom: 30px;
    }
}

