.text-logo{
    margin-top: 10px;
    font-size: 15px;
    color: #d8d8d8;
}
.alignCenter{
    display: flex;
    justify-content: center;
}
.alignEnd{
    display: flex;
    justify-content: flex-end;
}
.imageLogo{
    height: 20px;
    width: 20px;
}
.navbar_header{
    padding: 0px 90px;
}
.header-span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #2d2c2b;
}
.shop_head{
    justify-content: flex-end;
    float: right;
    margin-top: 15px;
    display: flex;
    width: 30%
}
.logoOutMain{
    margin-top: 5px;
    height: 60px;
}
.navbar{
    width: 100%;
    margin: 0px;
    display: initial !important;
}
.ml-auto{
    margin-top: 10px;
}
.right-logo{
    display: flex;
    flex-direction: row;
}
/* .right-logo span{
    margin: 0px 10px;
    cursor: pointer;
} */
.home-modal-close{
    display: block;
    position: relative;
    width: 100%;
}
.home-modal-close-button{
    font-size: 30px;
    color: #979797;
    font-weight: 100;
    padding: 0px 19px;
    border: none;
    position: absolute;
    right: -18px !important;
    top: -18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 43px;
    line-height: 2px;
    height: 43px;
    box-shadow: 0 2px 29px 0 #7d8991;
}
.home-modal-close-button{
    outline: none !important;
}
.navbar-brand{
    /* float: left; */
}
button.navbar-toggler {
    float: right;
    margin-top: 10px;
}
/* .header-center-text .nav-link{
    padding: 0px;
    width: 100%;
    text-align: center;
    justify-content: center;
} */


.header-center-text{
    margin-top: 20px;
}
.navbar-expand-md .navbar-nav{
    width: 100%;
    text-align: center;
    justify-content: center;
}
.navbar-collapse{
    padding: 0;
}
.cartModalOpen{
    position: absolute;
    right: 15px;
    z-index: 9;
    width: 293px;
    box-shadow: 0 2px 46px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-top: 2px solid #c9c9c9;
    height: auto;
    max-height: 389px;
    min-height: 250px;
}
.menuModalOpen{
    position: absolute;
    right: 15px;
    z-index: 9;
    width: 193px;
    height: 180px;
    box-shadow: 0 2px 46px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-top: 2px solid #c9c9c9;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menuModalOpen p{
    margin-top: 20px;
}
.navbar-brand{
    width: 70px;
    height: 40px;
    margin-top: 10px;
}
.logoImageOut{
    width: 180px;
    height: 40px;
    margin-top: 10px;
}
.imageAll{
    height: 100%;
    width: 100%
}
.iconMainCon{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 8px;
    position: relative;
}
.header-center-text-outter{
    flex-direction: row;
    width: 70%;
}
.header-content-align{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 0 !important;
}
.toogleBtn{
    display: none;
}
.badgeIcon{
    height: 12px;
    width: 12px;
    background-color: #f1beb1;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 15px;
}
@media(max-width: 1080px){ 
    .navbar_header{
        padding: 0px;
    }
    .displayNone{
        display: none;
    }
    .toogleBtn{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 22px;
        margin-right: 10px;
    }
}

@media(max-width: 900px){ 
    .header-span {
        padding: 0 20px;
    }
}
@media(max-width: 640px){ 
    .header-span {
        display: inline-block;
        padding: 0 10px;
    }

}
@media(max-width: 775px){
    .header-span {
        padding: 0 10px;
    }
}
@media(max-width: 767px){
    .header-center-text{
        display: none;
    }
    .header-span {
        padding: 0px;
        width: 100px;
    }
    .navbar-collapse{
        clear: both;
    }
    /* .header-center-text-outter{
        position: absolute;
        right: 0;
        top: 55px;
    } */
    .shop_head{
        margin-top: 10px;
        /* float: left; */
    }
    .navbar-expand-md .navbar-nav{
        align-items: flex-start;
    }
    ul.shop_head.nav {
        margin: 9px 10px;
    }
}


@media(max-width: 520px){ 

    .iconMainCon{
        height: 18px;
        width: 18px;
        cursor: pointer;
        margin-right: 25px;
        margin-top: 15px;
        position: relative;
    }
}

@media(max-width: 480px){ 
    .header-span {
        display: inline-block;
        padding: 0px 2px;
        font-size: 10px;
    }
    .col-2.header-right {
        margin: 0;
        padding: 0;
    }
    /* .right-logo {
        font-size: 15px;
        margin-top: 5px;
    }
    .right-logo span {
        margin: 0px 8px;
    } */
    .col-8.header-center {
        margin: 0;
        padding: 0;
    }
    .header-span {
        display: inline-block;
        padding: 0px 4px;
        font-size: 11px;
    }
    .col-2.header-left {
        margin: 0;
        padding: 0 8px;
    }
    .home-heading-con h1 {
        font-size: 24px;
    }
}
@media(max-width: 320px){ 
    /* .right-logo span {
        margin: 0px 6px;
    } */
    .header-span {
        display: inline-block;
        padding: 0px 4px;
        font-size: 9px;
    }
    
}

@media(max-width: 480px){ 
    .modal.show .modal-dialog {
        width: 90% !important;
        margin: auto;
}
}
@media(max-width: 320px){ 
    .modal.show .modal-dialog {
        width: 85% !important;
        margin: auto;
}
}


