.noPadding{
    padding: 0px !important;
}
.stock-data{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding-top: 20px !important;
    width: 250px;
    height: 324px;
    border-radius: 2px;
    background-color: #f0f3f4;
    margin: 20px;
    margin-top: 0px !important
}
.stock-img-out{
    text-align:center;
    height: 210px;
    width: 140px;
}
.title-out{
    text-align: center;
    width: 100%;
    z-index: 9 !important;

}
.stock-img-title-price{
    font-family: 'Noto Sans KR', sans-serif;   
    color: #8c8c8c;
    font-size: 16px;
    color: #434243;
    z-index: 99999 !important;
    padding: 0 !important

}
.stock-img-title{
    font-family: 'Noto Sans KR', sans-serif;   
    color: #8c8c8c;
    font-weight: 500;
    margin-top: 5px;
    font-size: 18px;
    color: #434243;
    z-index: 9 !important;
    padding: 0 !important

}
.stock-image{
    height: 100%;
    width: 100%;
}

.mobileCon{
    height: 800px;
    margin: 0 !important;
}
.mobileConHeight{
    overflow: scroll;
    position: relative;
}
.noDataContainerOut{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 180px
}
.noDataStyle{
    font-size: 25px;
    color: #78c8d7 !important;
}
@media(max-width: 767px){ 
    .noDataContainerOut{
        margin-top: 100px
    }
    .noDataStyle{
        padding: 20px 20px
    }
    .mobileCon p{
        padding: 20px 30px
    }
}

@media(max-width: 575px){ 
    .stock-img-title{
       text-align: center;
    }
    .mobileCon{
        justify-content: center;
    }
}
    
