.third-level-menu
{
    position: absolute;
    top: 5px;
    left: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    box-shadow: 2px 1px 6px 6px rgba(0,0,0,.075) !important;
    border-radius: 6px;
    border:2px solid #ebeaea;
}
.third-level-menu > li {
    background: #f4f4f4;
}
.third-level-menu> li:hover:nth-of-type(2) {
    border-radius: 0px;
}
.third-level-menu > li:hover { 
    background: #007bff; 
}
.second-level-menu{
    position: absolute;
    top: 10px;
    left: -10px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 2px 1px 6px 6px rgba(0,0,0,.075) !important;
    border-radius: 6px;
    border:1px solid #ebeaea;
}
.second-level-menu > li
{
    position: relative;
    background: #f4f4f4;
}
.second-level-menu > li:nth-of-type(2) {
    border-radius: 0px;
}
.second-level-menu > li:hover:nth-of-type(2) {
    border-radius: 0px;
}

.second-level-menu > li:hover { 
    background: #007bff; 
}
.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.top-level-menu > li{
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
   
}
.top-level-menu > li:hover { background: #fff; }

.top-level-menu li:hover > ul
{
    display: inline;
}
.top-level-menu a 
{
    font: 14px 'Noto Sans KR', sans-serif;   
    color: rgb(84, 84, 84) !important;
    text-decoration: none;
    font-weight: 300;
    padding: 2px 30px;
    display: block;
    /* line-height: 30px; */
}
.top-level-menu a:hover { color: #fff !important; }

.title{
    padding: 9px 10px !important;
    font: 14px 'Noto Sans KR', sans-serif !important;   
    color: rgb(84, 84, 84) !important;
    text-decoration: none;
    font-weight: 300;
    display: block;
    border: 1px solid #ced4da;
    border-radius: 5px;
    /* line-height: 10px; */
}
