@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.no-padding{
    padding: 0;
}
.modelHeight{
    min-height: 530px;
}
.imgAll{
    height: 100%;
    width: 100%;
}
.user-content-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.user-price{
    margin-right: 20px !important;
}
.IconOutStatus{
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-right: 5px;
}
.backgroundWhiteALl{
    background-color: #fff;
}
.listIconOut{
    width: 24px;
    height: 26px;
}
.userModalOut{
    padding: 30px 120px !important;
    background-color: #c4cdd1
}
.user-list{
    display: flex;
    flex-direction: column;
}
.activeTabMenu{
    color: #434243;
    font-size: 15px;
    border-left: 2px solid #78c8d7;
    font-weight: bold !important;
    background-color: #dce3e4 !important;
    opacity: 1 !important;
}
.user-list-outter{
    display: flex;
    flex-direction: row;
    padding: 8px 40px;
    position: relative;
}
.user-list  .list-group-item{
    padding: 0px 30px;
    color: #434243;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: transparent;
    border: none !important;
    opacity: 0.7;
}
.UserLogout{
    color: #434243;
}
.arrowLeftIcon{
    width: 6px;
    height: 17px;
    object-fit: contain;
    position: absolute;
    right: 0;
}
.display-flex-profile{
    display: flex;
    padding: 30px 30px;
    align-items: center;
    padding-right: 0
}
.display-flex-profile p{
    font-size: 24px;
    color: #434243;
    margin-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
}    

.profilePic{
    width: 75px;
    height: 75px;
    background-color: #a7cfd8;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.profilePic p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #ffffff !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-weight: 400 !important;
    margin: 0 !important
}
.user-title  {
    border-right: none !important;
}
.user-margin-line-btw{
    margin-bottom: 20px;
}
.border-right-end{
    display: flex;
    padding: 30px 30px;

}
.display-flex{
    display: flex;
    padding: 30px 30px;
}
.display-flex i{
    margin-right: 10px;
    font-size: 40px;
    color: #959595;
}
.display-flex p{
    color: #585858;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 5px;
}
.toggleButton{
    padding: 2px 5px !important;
}
.fa-close{
    font-size: 20px;
    font-weight: 300;
    color: #585858;
}
.bar1, .bar2, .bar3 {
    width: 18px;
    height: 3px;
    background-color: #585858;
    margin: 3px 0;
    transition: 0.4s;
}
.order-list-color{
    background-color:transparent;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 67px;
    border: 2px solid #e2e8ea;
    border-radius: 4px;
    width: 100%;
}

.order-list-color-design {
    display: flex;
    background-color:#f0f3f4;
    padding: 0px 9px;
}
.saveDesignMain{
    padding: 40px;
}
.order-list-padding-address{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.order-list-address-Row{
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.order-list-padding-order{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
.order-list-padding-saved{
    padding: 53px 40px;
}
.order-list-color p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #687077;
    margin: 0
}
.order-list-color-design p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #687077;
}
.saveDesignImgOut{
    width: 60px;
    padding: 10px;
}
.user-text-color{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #434243;
    font-weight: 500;
    padding-left: 10px;
}
.user-text-color-date{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ababab;
    margin-left: 20px !important;
    /* position: absolute;
    right: 0; */
}
.user-padding-second{
    display: flex !important;
    justify-content: flex-end !important;
}
.edit_btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.edit_btn p {
    /* width: 125px; */
    border-radius: 25px;
    background-color: #adadad;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    font-size: 14px;
}
.cart_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.crat_btn p {
    width: 125px;
    border-radius: 25px;
    background-color: #adadad;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    font-size: 14px;
}
.directionRow{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.user-list-btn-cancel{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ee613c !important;
}
.user-list-btn-complete{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #96c964 !important;
}
.user-list-btn-pending{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5a623 !important;
}
.cancelled{
    background-color: #a6a6a6;
}
.user-list-btn p{
    margin: 0
}
.user-margin-btw{
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.width50{
    width: 50%;
}
.user-btn-toggle {
    display: none;
}
.address_section {
    background: transparent;
    border-radius: 6px;
    border: 02px solid #e2e8ea;
    background-color: #ffffff;
    padding: 20px 10px;
    margin: 20px 40px 0px 0px;
}
.address_section ul {
    padding: 0px;
    margin-top: 20px;
}
.address_section li {
    list-style: none;
    padding: 4px 7px
}
.address_section h3 {
    font-size: 18px;
    font-weight: 500;
    color: #434243;
    margin-left: 5px;
}
.content-center{
    justify-content: center;
    display: flex;
}
.user-content-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-content-end{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-content-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 
.user-address-data li{
    display: flex;
    justify-content: flex-start;
}
.user-address-data p{
    color: #525353; 
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
.user-address-data span{
    color: #687077;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 150px;
}
.btn-outline-secondary{
    background-color: transparent;
    background-image: none;
    /* border-color: #6c757d; */
    border-radius: 50px !important;
    border: none !important;
    font-size: 14px !important;     
    color: #2d2c2b;
    width: 105px;
    height: 32px;
}
.user-address-btn.btn.btn-outline-secondary{
    border: 1px solid #6c757d !important;
}
.user-address-btn-main{
    color: #ffffff !important;
    width: 200px;
    height: 40px;
    border-radius: 35px !important;
    background-color: #78c8d7 !important;
    font-size: 14px !important;
    margin: 20px 0px;
    border: none !important;
}

.modal-close-buttonMain span{
    font-size: 28px !important;
    color: #c0c0c0;
    font-weight:200;
}
.modal-close-buttonMain{
    border: none;
    position: absolute;
    right: -20px;
    top: -20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    box-shadow: 0 2px 29px 0 #7d8991;
}

.payMain{
    margin: 38px;
}
.payOut{
    border: 1px solid #d0cece;
    border-radius: 7px;
    width: 228px;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;

}
.payIconOut{
    text-align: center;
}
.payOut p{
    font-size: 15px;
    font-weight: 300;
    color: #7a7878;
    margin-top: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.payConatainer{
    display: flex;
    flex-wrap: wrap;
}

.payIcon{
    height: 36px;
    width: 36px;
    background-color: #78c8d7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #ffffff;
}
.payOutCards{
    background-color: #515f62;
    border-radius: 7px;
    width: 228px;
    height: 144px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.payOutCardsSelected{
    background-color: #78c8d7;
    border-radius: 7px;
    width: 228px;
    height: 144px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.payCardOut{
    padding: 20px;
}
.payAccNo{
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    margin-bottom: 3px !important;
}
.payCardOut span{
    font-size: 14px;
    text-align: left;
    color: #ffffff;

}
.payPrimaryText{
    margin-top: 20px;
    cursor: pointer;
}
.pay-tick{
    color: #ffffff !important;
    font-size: 12px !important;
    margin-right: 6px;
}
.payCardIcon{
    display: flex;
    width: 100%
}
.payCardIcon span{
    cursor: pointer;
    width: 100%

}

.payImgOut{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.payIconMainOut{
    display: flex;
    width: 100%;
    justify-content: center;
}

.borderRightMain{
    background-color: #f2f3f3;
}
.decorationNone{
    text-decoration: none !important;
}
.editAddMain{
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Card{
    display: flex;
    align-items: center;
}
.addName.form-control {
    width: 248px;
    height: 42px;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    font-size: 16px;
}
.editAddMain h1{
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;  
    color: #585858;
    margin-top: 20px;
    margin-bottom: 10px;
}
.editAddMain button{
    width: 248px;
    height: 50px;
    border-radius: 25px;
    background-color: #adadad;
    margin-top: 25px;
    border: none;
    font-size: 18px;
}
.errorOut{
    width: 190px;
}


.modalOpen{
    padding: 35px;
    text-align: center;
}
.modalOpen h1{
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;  
    color: #585858;
    margin-top: 20px;
}
.cardDisplayFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalOpen button{
    width: 248px;
    height: 50px;
    border-radius: 25px;
    background-color: #78c8d7;
    margin-top: 40px;
    border: none;
    font-size: 18px;
}
.name.form-control{
    width: 248px;
    height: 42px;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    font-size: 16px;
}
.textBox{  
     display: flex;
    flex-direction: column;
    align-items: center;
}
.textBoxError{
    display: flex;
    flex-direction: column;
}
.errorMsgCard{
    position: relative !important;
    text-align: left !important;
}
.user-padding-first{
    padding: 0px 40px !important;
}
button.user-Info-save.btn.btn-secondary:focus {
    color: #fff;
}
@media(max-width: 1345px){ 
    .user-list  .list-group-item{
        padding: 0px 0px 0px 25px;
        font-size: 13px;
    }
}

@media(max-width: 1309px){ 
    .user-padding-first{
        padding: 0px 15px !important;
    }
}
@media(max-width: 1250px){ 
    .user-content-center p{
        font-size: 14px !important;
    }

}
@media(max-width: 1180px){ 
    .profilePic{
        width: 60px;
        height: 60px;
    }
    .display-flex-profile p{
        font-size: 18px;
    }
    .user-list-outter{
        padding: 20px 5px;
    }
    .userModalOut{
        padding: 30px 60px !important;
        background-color: #c4cdd1
    }
    .user-list  .list-group-item{
        padding: 0px 0px 0px 25px;
        font-size: 13px;
    }
    .listIconOut{
        width: 18px;
        height: 20px;
    }
    .user-text-color{
        font-size: 14px !important;
    }
    .user-padding-first{
        padding: 0px 10px !important;
    }
    .order-list-padding-saved {
        padding: 53px 25px;
    }
}

@media(max-width: 938px){ 
    .userDetails{
        padding: 20px 0px !important;
        margin-left: 0px !important;
    }
    .order-list-padding-saved {
        padding: 53px 20px;
    }
    .userModalOut{
        padding: 30px 30px !important;
        background-color: #c4cdd1
    }
    .user-text-color{
        font-size: 12px !important;
    }
    .user-text-color-date{
        font-size: 12px !important;
    }
    .user-cart-btn-main.btn.btn-secondary{
        font-size: 12px;
        padding: 0px 5px !important;
        width: 100px !important;
    }
    .user-content-center p{
        font-size: 12px !important;
    }

}
@media(max-width: 576px){ 
    .width100Text{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .width60Text{
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .width40Text{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .width50Text{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .directionRow{
        margin-left: 40px
    }
}
@media(max-width: 574px){ 
    
    .user-cart-btn-main.btn.btn-secondary{
        font-size: 12px !important;
        margin-bottom: 15px;
        width: 100% !important;
    }
    .user-edit-btn-main.btn.btn-secondary{
        font-size: 12px !important;
        margin-bottom: 15px;
        width: 100% !important;
    }
    .user-text-color-date{
        padding-right: 5px;
    }
}

@media(max-width: 767px){ 
    .borderRightMain{
        border-bottom: #ffffff 20px solid;    
    }
    .modelHeight{
        min-height: 0px !important;
    }
    .userInfoPassword{
        padding: 0 !important;
    }
    .userDetailsHeading{
        padding: 10px 40px 0px 0px !important;
    }
    .passwordModal {
        padding: 0px 10px 0px 0px !important;
    }
    .padding10{
        padding: 0px 0px 0px 20px
    }
    .userInfoPassword{
        margin-top: 50px !important;
    }
    .userModalOut{
        padding: 30px 20px !important;
    }
    .order-list-color-design{
        padding: 0px 9px;
    }
    .SavedBtns{
        margin-top: 10px;
    }
    .user-display-none {
        width: 290px;
        position: absolute;
        z-index: 10;
        padding: 0 !important;
        background: rgb(255, 255, 255);
        box-shadow: 10px 2px 10px 0px #C9C9C9;
        left: -320px;
        transition: all linear 0.2s 0s;
    }
    .edit_btn{
        justify-content: center;
    }
    .edit_btn p {
        border-radius: 25px;
        padding: 6px;
        font-size: 13px !important;
        justify-content: center;
    }
    .cart_btn{
        justify-content: flex-start;
    }
    .cart_btn p {
        border-radius: 25px;
        padding: 6px;
        font-size: 13px !important;
        justify-content: center;
    }
    .user-btn-toggle {
        display: block;
    }
    .user-btn-toggle{
        margin-top:8px;
        margin-left: 20px;
    }
    .activeMenu{
        left: 0;
    }
    .order-list-padding-saved {
        padding: 0;

    }
    .user-padding-first{
        text-align: center;
        position: relative;
        padding: 0px;
    }
    .order-list-color p{
       margin-bottom: 10px;

    }
    .order-list-color h4{
        margin-bottom: 10px;
     }
     .order-list-color{
        height: 140px !important;
        flex-wrap: wrap;
        display: flex;
        height: 100px !important;

    }
    .user-list-btn{
        /* height: 90px; */
    }
    .user-text-color{
        padding-left: 0px
    }
    .order-list-padding-order{
        padding: 0;
        margin-top: 10px;
    }
    .user-content-center p{
        font-size: 14px !important;
    }
}



.cartIcon{
    font-size: 28px;
}


.SavedBtns{
    display: flex;  
    justify-content: center;
}
.fullWidth{
    width: 100%;
}


.user-edit-btn-main.btn.btn-secondary{
    height: 40px;
    border-radius: 25px;
    background-color: #78c8d7;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;  
    padding: 5px 25px;
    width: 105px
}

.user-cart-btn-main.btn.btn-secondary{
    height: 40px;
    border-radius: 25px;
    background-color:transparent;
    border: 2px solid #78c8d7;
    font-size: 14px;
    color: #78c8d7;
    font-family: 'Noto Sans KR', sans-serif;  
    padding: 5px 15px;
    width: 120px
}
.align-item-center{
    height: 100%;
    /* padding: 30px 40px; */

}
.label-optional{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;  
    color: #585858;
    margin-top: 10px;
}
.input-optional.form-control{
    width: 300px;
    height: 42px;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    font-size: 16px;
}
.user-address-modal{
    height: 100%;
    padding: 0px 20px;
}
.add-user-payment-btn-main.btn.btn-secondary{
    color: #ffffff !important;
    border-radius: 50px !important;
    height: 50px;
    font-size: 14px !important;
    background-color: #78c8d7;
    border: none;
    margin-top: 30px;
}
.add-user-address-btn-main.btn.btn-secondary{
    color: #ffffff !important;
    border-radius: 50px !important;
    width: 300px;
    height: 50px;
    font-size: 14px !important;
    background-color: #78c8d7;
    border: none;
    margin-top: 30px;
}
.delete-user-address-btn-main.btn.btn-secondary{
    color: #2d2c2b !important;
    border-radius: 50px !important;
    width: 102px;
    height: 30px;
    font-size: 14px !important;
    background-color: transparent;
    border: 1px solid #78c8d7;
    margin-top: 10px;
}
.edit-user-address-btn-main.btn.btn-secondary{
    color: #ffffff !important;
    border-radius: 50px !important;
    width: 102px;
    height: 30px;
    font-size: 14px !important;
    background-color: #78c8d7;
    border: none;
    margin-top: 10px;
    margin-right: 20px
}
.address-modalOpen{
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.successMsg{
    color: green;
    font-size: 16px;
}
.errorMsg{
    color: red;
    font-size: 16px;
}
.cursor{
    cursor: pointer;
}
.hasError{
    position:relative !important;
    color: red;
}
.userInfoMain{
    margin-bottom: 50px;
}
.userInfo h1{
    font-size: 24px;
    color: #434243;
    font-weight: bold;
}
.userDetailsHeading{
    padding: 10px 30px 0px 0px ;
}
.userDetailsHeading p{
    font-size: 14px;
    margin: 12px 0px 2px 0px;
    color: #ababab;
}
.userDetails{
    padding: 20px 10px;
    margin-left: 20px
}
.userDetails p{
    font-size: 16px;
    color: #434243;
}
.user-Info-change-password-main.btn.btn-secondary{
    width: 182px;
    height: 30px;
    border-radius: 35px;
    background-color: transparent;
    border: 1px solid #78c8d7;
    color: #434243;
    font-size: 13px;
    margin-top: 20px;
    text-decoration: none;
}
.password_btnInline{
    display: flex; 
    flex-direction: row !important
}
/* .width50{
    width: 50%;
} */

.input-UserInfo.form-control{
    height: 40px;
    background-color: #ffffff;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
    max-width: 300px;
}
.passwordModal{
    margin-top: 20px;
    padding: 0px 50px 0px 0px ;
}
.marginZero{
    margin: 0px !important
}
.user-Info-edit-main.btn.btn-secondary{
    width: 139px;
    height: 30px;
    border-radius: 35px;
    background-color: transparent;
    border: 1px solid #78c8d7;
    color: #434243;
    font-size: 13px;
    text-decoration: none;
}
.user-Info-edit.btn.btn-secondary{
    width: 139px;
    height: 30px;
    border-radius: 35px;
    background-color: transparent;
    border: 1px solid #78c8d7;
    color: #434243;
    font-size: 13px;
    margin-top: 20px;
    text-decoration: none;
}
.user-Info-save.btn.btn-secondary{
    width: 102px;
    height: 30px;
    border-radius: 35px;
    background-color: #78c8d7;
    border: none;
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
}
.user-Info-Password-save.btn.btn-secondary{
    width: 145px;
    height: 30px;
    border-radius: 35px;
    background-color: #78c8d7;
    border: none;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;
}
.user-Info-change-password.btn.btn-secondary{
    width: 145px;
    height: 30px;
    border-radius: 35px;
    background-color: transparent;
    border: 1px solid #78c8d7;
    color: #434243;
    font-size: 13px;
    text-decoration: none;
    margin-top: 10px;
}
.radioInfoGender{
    margin-right: 30px !important;
}
.radioInfoGender span{
    margin-left: 5px;
    font-size: 13px;
    color: #434243;
    font-weight: 500;
}








































































































































