@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.no-padding{
    padding: 0px;
}
.footer-main{
    background-color: #5b5b5b;
    padding: 48px 16px;
}
.footer-logo{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 15px;
    color: #929292;
}
.footer-logo-right{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 13px;
    color: #929292;
    float: right;
}
.footer-text{
    /* display: table-caption; */
}
.footer-text button{
    font-family: 'Noto Sans KR', sans-serif;   
    font-size: 14px;
    color: #ffffff !important;
    font-weight: 200
}
.footer-text button :hover{
    color: #ffffff;
}
.footer-image{
    padding-top: 20px;
}
@media(max-width: 640px){
    .footer-logo-right{
        font-family: 'Noto Sans KR', sans-serif;   
        font-size: 13px;
        color: #929292;
        text-align: center;
    }
}

@media (max-width: 800px){
    .footer-out .col-md-3 {
        margin-bottom: 30px;
    }
}