@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.no-padding{
padding: 0
}
.about-para{
    color: #687077;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
    font-weight: 300;
}
.about-para p{
    margin-bottom: 20px;
}
.about-heading{
    margin-top: 25px;
}
.aboutus-con-out{
    margin-top: 70px;

}
.aboutus-con-main{
    width: 100%;
    height: 300px;
    background-color: #d8d8d8;
}