

.imageListEditor{
    height: 20px; 
    width: 25px
}
.ListEditorOut{
    display: flex;
    flex-direction: row
}
.innertags{
    width:100% !important;
}
.marginTopEditorList{
    margin-top: 20px;
}