.tosteClose{
    display: none;
}
.tosteMian{
    z-index: 9999999999;
    position: absolute;
    top: 80px;
    right: 10px;
    background-color: #d8ebdb;
    width: 400px;
    padding: 8px 30px;
    border-radius: 3px;
    display: flex !important;

    /* &.active {
		display: flex !important;
	} */
}
@media(max-width: 500px){ 
    .tosteMian{
        width: 300px;
    }
}
.tosteMian p{
    width: 100%;
    font-size: 15px;
    margin: 0px;
}
.tosteMian i{
    cursor: pointer;
}

.success{
    background: #c7f1c7;
    color: #4e884e;
    border: 1px solid #4e884e;
}

.error{
    background: #f1c7c7;
    color: #884e4e;
    border: 1px solid #884e4e;
}