
.menu-form-content{
    text-align: left;
}
.menu-form-content-out{
    padding: 10px 20px;
}
.stock-heading-icon-out span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color: #78c8d7;
    margin-left: 10px
}
.stock-heading-icon-out{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 15px;
}
.stock-heading-icon{
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.menu-form-content label{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #a0a0a0;
    font-weight: 500;
}
.menu-form-out{
    margin-top: 40px;
}
.menu-form-content button{
    width: 160px;
    height: 40px;
    border-radius: 25px;
    background-color: #adadad;
    border: 0px;
    color: #ffffff;
    font-size: 14px;
}
.menu-radio{
    margin-bottom: 15px;
    margin-left: -10px;
}
.menu-radio p{
    margin-left: 20px;
    color: #585858;
    font-size: 14px !important;
}
.menu-radio input{
    font-size: 14px;
}
.menu-radio-form{
    margin-right: 20px;
}
.menu-dropdown.form-control{
    text-align: left ;
    height: 40px;
    /* width: 250px; */
    border: 1px solid #dedede ;
    background-color: #fff ;
    color: #585858 ;
    font-size: 14px ;
    margin-bottom: 20px;
    font-weight: 300 !important;
}
.menu-form-color{
    display: flex;
    flex-wrap: wrap;
}
.menu-form-color label{
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #a0a0a0;
    font-weight: 500;
}

.container{
    display: flex;
}
.radio-out{
    margin-right: 10px;
}
.radio[type="radio"] {
    display: none;
}
.graphical-radio {
    background: black;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.radio[type="radio"]:checked + .radio-out{
    border: 3px solid gray;
}
.graphical-radio2 {
    background: grey;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid gray;
    border-radius: 100%;
}
.graphical-radio3 {
    background: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid gray;
}
.stock-list{
    margin-left: 20px;
}
.stock-list p{
    font-size: 14px;
    color: #687077;
    font-family: 'Noto Sans KR', sans-serif;
}
.stock-list label{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #ababab;
    margin-bottom: 20px;
    font-weight: 300;
}
.headingThemes{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #ababab;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 500;
}
.stock-listinline{
    display: flex;
}
.stock-listinline p{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #687077;
}
.stock-listinline span{
    float: right;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #687077;
}
.stock-checkbok-out{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
}
.stock-float-right{
    float: right;
    position: absolute;
    right: 0;
}
.stock-float-right p{
    font-size: 14px;
    font-weight: 400;
    color: #687077;
    font-family: 'Noto Sans KR', sans-serif;
}
.stock-display-inline{
    display: flex;
}
.stock-tick{
    color: #687077;
    font-size: 14px;
    position: absolute;
    left: 10;
}
/* .checkbox[type="checkbox"] {
    /* display: none; */
.stock-tick{
    display: none;
}
.stock-tick-out{
     font-weight: 400;
     margin-left: 15px;
     line-height: 15px;
}
.diplayRowThemes{
    display: flex;
    flex-direction: row;
}
.colorOutMain{
    border: 2px solid #78c8d7;
    border-radius: 100%;
    position: relative;
}
.colorOutTick{
    position: absolute;
    z-index: 999;
    left: 20%;
    top: 0;
    font-size: 16px;
    font-weight: 200;
}
@media(max-width: 996px){ 
    .menu-form-content-out{
        padding: 10px 10px;
    }
}
@media(max-width: 890px){ 
    .stock-heading-icon-out span{
        font-size: 10px;
    }
    .stock-heading-icon{
        width: 10px;
        height: 10px;
        object-fit: contain;
    }
}
@media(max-width: 767px){ 
    .stock-heading-icon-out span{
        font-size: 14px;
    }
    .stock-heading-icon{
        width: 15px;
        height: 15px;
        object-fit: contain;
    }
}




/* .checkbox[type="checkbox"]:checked + .stock-tick{
    display: block;
} */


/* 
@media(max-width: 640px){ 
.home-form-out .col-sm-6 {
    max-width: 100%;
}
.home-form-inner {
    width: 100%;
}
.home-dropdown.form-control {
    width: 100%;
}
} */
/* @media(max-width: 1000px){ 
    .menu-dropdown.form-control{
        width: 180px;
    }
} */