@import url('https://cdn.rawgit.com/kattergil/Light-Noto-Sans---Webfont/e3184637/styles.css');

.modal.fade.show {
    opacity: 1;
}
.btn {
    font-size: 30px;
}
.modalbody{
    font-size:20px;
}
.signup{
    text-align: center;
    font-size: 20px;
}
.modal-dialog.home-auth-modal.modal-dialog-centered{
    display: flex;
    justify-content: center;
}
.modal-content{
    width: auto !important;
}

.home-auth-modal{
    width: auto !important;
    z-index: 99999999 !important;
}
.signup-modal-container{
    width: 328px !important;
}
.login-modal-container{
    text-align: center;
    width: 460px;
    background-color: #fff
}
.social-modal-container{
    text-align: center;
    max-width: 328px !important;
    height: 411px;
    background-color: #fff
}
.forgot-modal-container{
    width: 400px;
    height: 290px;
    padding: 0px 70px !important;
}
.signup-modal-title{
    text-align: center;
    padding: 40px 0px 26px 0px;
    font-size: 24px; 
    color: #585858;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #585858;
    font-family: 'Noto Sans KR', sans-serif;
}
.signup-modal-title span{
  width: 91px;
  height: 36px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #585858;
}

.signup-modal-content{
    /* padding: 0px 94px;s */
}

.signup-modal-content .form-group{
    margin-bottom: 20px
}
.signup-modal-contentMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.signup-modal-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-modal-content .form-group input:focus{
    border: solid 1px #dedede;
    box-shadow: none;
}

.signup-modal-content button{
  height: 50px;
  border-radius: 25px;
  background-color: #adadad;
  color: #fff;
  border: none;
  font-size: 14px
}

.signup-modal-content button:focus {
    outline: none !important;
    box-shadow: none;
    color: #fff !important;

}

.signup-footer{
    margin: 28px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}
.signup-lower-link{
    padding: 0px 25px;
    text-align: center;
}

.signup-lower-link button{
    height: 24px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #687077 !important;
}
.signup-lower-link button:focus {
    outline: none !important;
    box-shadow: none;
}
.loginTextBox.form-control{
    border-color: #c4c9cb;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 14px;
    color: #434243;
}
.btnLoginMain.btn.btn-secondary.btn-block{
    height: 40px;
    border-radius: 35px;
    background-color: #78c8d7;
    font-size: 13px !important;
}
.btnOptionsMore.btn.btn-link{
    font-size: 14px;
    color: #78c8d7 !important;
}
.btnSignUpMain.btn.btn-secondary{
    width: 199px;
    height: 40px;
    border-radius: 35px;
    background-color: #78c8d7;
    border: none;
    font-size: 13px !important;
    color: #ffffff;
    font-size: 13px !important;
}
.btnSignUpMain.btn.btn-secondary:hover{
    outline: none;
    background-color: #78c8d7;
    color: #ffffff;
    border: none !important;
}
.signUpInputBox.form-control{
    border-color: #c4c9cb;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #434243;
    font-size: 14px;
    margin-bottom:10px
}
.btnSignUpOptions.btn.btn-link{
    color: #78c8d7 !important;
    font-size: 14px;
}
.forgotInput.form-control{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 14px;
    color: #434243;
}
.forgot-modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.forgot-footer{
    display: flex;
    flex-direction: row;
    margin-top: 20px
}
.forgot-lower-link-first{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}
.forgot-lower-link-second{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.btnForgot.btn.btn-secondary{
    width: 100%;
    height: 40px;
    border-radius: 35px;
    background-color: #78c8d7;
    font-size: 13px;
    color: #ffffff;  
    margin-top: 20px;
    border: none;
    font-size:13px !important; 
}
.btnForgotOptions.btn.btn-link{
    color: #78c8d7 !important;  
    font-size: 14px;
}
.hasError{
  color: red;
  position: absolute;
  font-size: 12px;
}
.hasErrorConfirm{
    color: red;
    position: absolute;
    font-size: 10px;
}
.hasSuccess{
    color: green;
    position: absolute;
    font-size: 12px;
  }

.facebook-button{
    width: 162px;
    height: 40px;
    border-radius: 35px;
    background-color: #337ab7;
    border: none;
    font-size: 13px;
    color:white;
    margin-bottom: 50px;
    margin-right: 20px;
    position: relative;
    line-height: 40px !important;
}
.facebookIcon{
    width: 7.4px;
    height: 14.1px;
    position: absolute;
    left: 20px;
    top: 14px;
}
.kakao-button{
    width: 162px;
    height: 40px;
    border-radius: 35px;
    background-color: #fde607;
    border: none;
    font-size: 13px;
    color:white;
    margin-bottom: 50px;
    color: #020303;
    background-image: url('/talk@3x.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 13%;
}
.kakao-button:focus{
    outline: none !important;
}

.facebook-button:focus{
    outline: none !important;
    color: #fff !important;
}


.login-social{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    justify-content: center;
}

.borderMain{
    border-top: 1px solid #e2e8ea;
    margin-bottom: 6px;
    margin-top: 20px;
    position: relative;
}
.borderMain span{
    background-color: #fff;
    position: absolute;
    top: -10px;
    width: 40px;
    margin-left: -20px;
    color: #b6bbbc;
    font-size: 13px;
}
.facebook-button.metro .zmdi.zmdi-facebook{
    margin-right: 20px

}
.home-modal-close{
    color: red
}
.home-modal-close-buttonMain span{
    font-size: 28px !important;
    color: #c0c0c0;
    font-weight:200;
}
.home-modal-close-buttonMain{
    border: none;
    position: absolute;
    right: -15px;
    top: -20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    box-shadow: 0 2px 29px 0 #7d8991;
}
.home-modal-close-buttonMain:focus{
    outline: none;
}

.login-modal-title{
    text-align: center;
    font-size: 24px;
    padding-bottom: 26px;
    padding: 41px 0px 20px 0px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #585858;
    font-family: 'Noto Sans KR', sans-serif;
}

@media(max-width: 636px){ 

    .login-modal-container{
        width: 400px;
    }
    .forgot-modal-container{
        width: 400px;
    }  
}
@media(max-width: 480px){ 

    .login-social{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }
    .facebook-button{
        margin-bottom: 10px !important;
        margin-left: 20px
    }
    .signup-modal-container{
        width: 280px;
    }    
    .forgot-modal-container{
        width: 280px;
        padding: 0px 20px !important;
    }    
    .forgot-footer{
        padding: 0px 20px;
    }
    .login-modal-container{
        width: 300px;
    }
    .login-social{
        padding: 0px 60px;
    }
    .signup-modal-content{
        padding: 0px 60px;
    }
} 

@media(max-width: 320px){ 
    .login-social{
        padding: 0px 30px;
    }
    .signup-modal-content{
        padding: 0px 30px;
    }
    .facebook-button.metro .zmdi.zmdi-facebook{
        margin-right: 10px
    }
}